header .fa-map-marker {
	color: #acacac;
	margin-right: 15px;
}
.header-nav__nav{
	font-family: 'Open Sans', sans-serif;
}
/*****/
.header-top {
	position: relative;
	display: block;
	width: 100%;
	min-height: 650px;
	box-sizing: border-box;
	padding: 71px 0 0;
	background:  #cfcfcf url(../images/Dcar-bg.jpg) center / cover no-repeat;
	background-position: right bottom;
	background-size: cover;
	margin-top: 88px;
}
.header-top .item-info-action-brand-logo {
	display: block;
	text-align: center;
	margin-top: 16px;
}
.header-top .item-info-action-brand-logo img {
	height: 40px;
	width: auto;
	background: #fff;
    padding: 20px;
}

.header-top .item-info-action-title {
	display: block;
	position: relative;
	color: #ACACAC;
	z-index: 5;
	text-transform: uppercase;
}
.header-top  .item-info-action-title p{
   display: inline-block;
	font-size: 24px;
	font-weight: 700;
	font-family: '__Museo Sans Cyrl_5';
	color: #ef3e42;
	text-shadow: 5px 5px 10px black, 0 0 1em black;
}
.header-top  .item-info-action-title p.sel {
	color: #FDD60C;
}
.header-top .item-info-action-subtitle {
	display: block;
	position: relative;
	color: #fff;
	z-index: 5;
	margin-bottom: 30px;
	font-style: italic;
	text-shadow: 5px 5px 10px #012e56, 0 0 1em #00305a;
}
.header-top .item-info-action-subtitle p, .item-btn-txt p{
	font-size: 14px;
	color: #007ae5;
	text-align: center;

}

.header-top  .item-products p{
	display: inline-block;
    color: #ffffff;
    font-size: 30px;
    font-weight: 700;
    text-shadow: 5px 5px 10px black, 0 0 1em black;
    text-transform: uppercase;
}

.header-top .btn{
	position: relative;
	display: inline-block;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;  
    -webkit-transition: 0.3s linear;
    -moz-transition: 0.3s linear;
	transition: 0.3s linear;
	margin: 0 auto;
	background-color: #FDD60C;
	color: #004785;
	width: 100%;
	text-align: center;
	padding: 10px;
	font-family: '__Museo Sans Cyrl_5';
	border-radius: 50px;
	box-shadow: 5px 5px 10px black, 0 0 1em black;
}
.header-top .btn:hover {
	background-color: #e8c30e;
}

.header-top .items {margin-top: 60px; text-align: center;display: flex;flex-direction: column-reverse;}
.header-top .item-btn {margin-bottom: 30px;}
.header-top .btn img { 	margin-left: 10px;position: absolute;right: -5px;}
@media (min-width: 375px) {
	.header-top .item-info-action-title p {font-size: 26px;}
	.header-top .item-info-action-subtitle p, .item-btn-txt p {font-size: 16px;}
}

@media (min-width: 540px) {
	.header-top .item-info-action-title p {font-size: 40px;}
	.header-top .btn {font-size: 16px;line-height: 25px;font-weight: 900;display: inline;padding: 10px 60px;z-index: 10;}
	.header-top .btn img { 	margin-left: 10px; right: unset;}
}
@media (min-width: 768px) {
	.header-top .item-info-action-title p {font-size: 60px;}
	.header-top .item-info-action-subtitle p{text-align: left;}
	.header-top .item-info-action-gifts img, .item-products img {height: 400px;width: auto; margin-top: 10px;	}
	.header-top .btn {font-size: 20px;}
}
@media (min-width: 992px) {
	.header-top .items {flex-direction: row;flex-wrap: nowrap;justify-content: space-between;text-align: left;}
	/*.header-top .items .item {width: 49%;}*/
	.header-top .item-btn {text-align: left;}
/*	.header-top .btn {font-size: 16px;display: block; width: 80%;}*/
}
@media (min-width: 1024px) {
	.header-top .item-info-action-title p {font-size: 40px;}
	.header-top .items {margin-top: 120px; }
}
@media (min-width: 1200px) {}
@media (min-width: 1400px) {
	.header-top .item-info-action-title p.sel{font-size: 58px;}
	.header-top .item-info-action-brand-logo img {height: 80px;}
	.header-top .item-info-action-gifts img {height: 480px;width: auto;margin-top: -100px;margin-right: -200px;}
}

@media (min-width: 1920px) {
	/*.header-top .item-info-action-title p {width: 70%;}*/
}