@import url(https://fonts.googleapis.com/css?family=Montserrat:500,600,700&display=swap);

@import url(https://fonts.googleapis.com/css?family=Raleway:600&display=swap);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 360px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "Montserrat";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Montserrat";
  font-size: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 102.875rem;
  margin: 0 auto;
  padding: 0 3.6875rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg--contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: toRem(30);
		height: toRem(18);
		z-index: 5;
		@media (any-hover: none) {
			cursor: default;
		}
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: toRem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - toRem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - toRem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - toRem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/

.donate-page {
  background: #1E88E5;
  position: relative;
}

.donate-page::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: -36px;
  width: 320px;
  height: 300px;
  background: url("../img/logo-bg.svg") center/contain no-repeat;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.donate-page::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 50%;
  right: -28px;
  width: 320px;
  height: 300px;
  background: url("../img/logo-bg.svg") center/contain no-repeat;
  -webkit-transform: translate(0, 50%);
      -ms-transform: translate(0, 50%);
          transform: translate(0, 50%);
}

.donate-page__container {
  position: relative;
  z-index: 2;
}

.donate-page__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  padding-top: 3.125rem;
  padding-bottom: 3.125rem;
}

.donate-page__body {
  border-radius: 40px;
  background-color: #FFF;
  -webkit-box-shadow: 3px 6px 30px 0px rgba(0, 117, 255, 0.15);
          box-shadow: 3px 6px 30px 0px rgba(0, 117, 255, 0.15);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 88.125rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 88.125rem;
          flex: 0 1 88.125rem;
  margin: 0 auto;
}

.donate-page__body_small {
  width: 61.25rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 61.25rem;
          flex: 0 1 61.25rem;
  padding-top: 7rem;
  padding-bottom: 5.5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.donate-page__body.padding-another {
  padding-top: 4.25rem;
  padding-right: 0rem;
  padding-left: 0rem;
  padding-bottom: 0rem;
}

.donate-page__left-block {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.donate-page__last {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 46%;
          flex: 0 0 46%;
}

.left-block-donate__title {
  font-family: "Raleway";
  line-height: 1.1777777778;
  letter-spacing: 1px;
  font-weight: 600;
}

.left-block-donate__sub {
  font-weight: 500;
  margin-bottom: 3.125rem;
  line-height: 1.1;
}

.left-block-donate__form {
  margin-bottom: 4rem;
}

.form__lines {
  display: -ms-grid;
  display: grid;
  gap: 1.6875rem;
}

.form__line {
  display: -ms-grid;
  display: grid;
}

.form__line textarea {
  resize: none;
}

.form__line_columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.5rem;
}

.form__label {
  color: #525252;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.3px;
  font-size: 0.8125rem;
  margin-bottom: 0.625rem;
}

.form__input {
  border-radius: 10px;
  border: 1px solid #CECECE;
  padding: 1.0625rem 1.75rem;
  font-weight: 500;
  color: #0F0F0F;
  width: 100%;
}

.form__input[name=comments] {
  height: 7.75rem;
}

.form__input[name=amount] {
  padding: 1.0625rem 2.1875rem;
}

.form__column {
  max-width: 10.875rem;
}

.form__column input {
  text-align: center;
}

.form__input-title {
  color: #260000;
  font-weight: 500;
  margin-bottom: 1.25rem;
}

.form__button button {
  border-radius: 10px;
  background-color: #E2ECFF;
  font-weight: 500;
  padding: 1.0625rem 2.3125rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.bottom-left-block__title {
  font-weight: 500;
  color: #525252;
  margin-bottom: 2.4375rem;
}

.bottom-left-block__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.3125rem;
  position: relative;
  align-items: center;
}

.bottom-left-block__line {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background: -webkit-gradient(linear, left top, right top, color-stop(42.77%, #1E88E5), color-stop(128.78%, rgba(255, 255, 255, 0)));
  background: linear-gradient(90deg, #1E88E5 42.77%, rgba(255, 255, 255, 0) 128.78%);
  border-radius: 0.625rem;
  position: relative;
  height: 10px;
}

.bottom-left-block__line::after {
  content: "";
  display: block;
  background: #1E88E5;
  border: 4px solid #CBE7FF;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  z-index: 2;
  position: absolute;
  top: -6px;
  right: 0;
}

.bottom-left-block__line::before{
  background: url("../img/donate.png") center/cover no-repeat; }

.bottom-left-block__line::before {
  content: "";
  display: block;
  position: absolute;
  top: -90px;
  right: -17px;
  width: 57px;
  height: 57px;
  border-radius: 50%;
  -webkit-box-shadow: 3px 6px 30px 0px rgba(0, 117, 255, 0.1490196078);
          box-shadow: 3px 6px 30px 0px rgba(0, 117, 255, 0.1490196078);
}

.bottom-left-block__line span {
  background: #fff;
  border: 4px solid #D988FF;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  z-index: 2;
  position: absolute;
  top: -6px;
  left: 64%;
}

.bottom-left-block__line span::before {
  content: "9549 грн";
  white-space: nowrap;
  position: absolute;
  top: -32px;
  left: 50%;
  -webkit-transform: translate(-40%, 0);
      -ms-transform: translate(-40%, 0);
          transform: translate(-40%, 0);
  font-weight: 600;
  font-size: 0.875rem;
}

.bottom-left-block__line.two {
  background: -webkit-gradient(linear, left top, right top, color-stop(42.77%, #35FF31), color-stop(128.78%, rgba(255, 255, 255, 0)));
  background: linear-gradient(90deg, #35FF31 42.77%, rgba(255, 255, 255, 0) 128.78%);
}

.bottom-left-block__line.two::before{
  background: url("../img/donate-2.png") center/contain no-repeat; }

.bottom-left-block__line.two::before {
  top: -70px;
  width: 50px;
  height: 50px;
}

.bottom-left-block__line.two span {
  left: 5%;
}

.bottom-left-block__line.two span::before {
  content: "1000 грн";
}

.bottom-left-block__line.one::before {
  top: -70px;
  width: 50px;
  height: 50px;
}

.bottom-left-block__sum {
  font-weight: 600;
  font-size: 0.875rem;
}

.last-donate {
  padding: 3.3125rem 1.6875rem;
  border-radius: 40px;
  background-color: #E2ECFF;
}

.last-donate__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0.9375rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.last-donate__top:not(:last-child) {
  margin-bottom: 4.1875rem;
}

.last-donate__title {
  font-family: "Raleway";
  font-weight: 600;
  font-size: 2.3125rem;
  letter-spacing: 1px;
  line-height: 1.1621621622;
}

.last-donate__items {
  display: -ms-grid;
  display: grid;
  gap: 2.5rem;
}

.last-donate__item {
  border-radius: 20px;
  background-color: #FFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2rem 3rem;
  gap: 1.25rem;
  font-size: 1.125rem;
  line-height: 1.1111111111;
  font-weight: 600;
}

.last-donate__name {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.last-donate__sum {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 75px;
          flex: 0 0 75px;
  text-align: right;
}

.counter {
  position: relative;
}

.counter__button {
  background: #EAEAEA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 50%;
  width: 1.375rem;
  height: 1.375rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #6A6262;
  font-weight: 500;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  overflow: hidden;
  cursor: pointer;
  z-index: 3;
}
.counter__button_minus::before{
	content: '-';
	margin-top: -0.1875rem;
}
.counter__button_plus::before{
	content: '+';
}

.counter__button_minus {
  font-size: 1.5625rem;
  left: 0.625rem;
}


.counter__button_plus {
  font-size: 1.25rem;
  right: 0.625rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.thanks__icon {
  width: 116px;
  height: 116px;
  margin: 0 auto;
  margin-bottom: 2.3125rem;
}

.thanks__icon img {
  max-width: 100%;
}

.thanks__title {
  font-family: "Raleway";
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 1.1818181818;
  font-size: 3.4375rem;
  margin-bottom: 2.3125rem;
}

.thanks__sub {
  color: #525252;
  font-size: 1.25rem;
  margin-bottom: 3.4375rem;
}

.thanks__button {
  border-radius: 10px;
  background-color: #1E88E5;
  color: #FFF;
  font-weight: 600;
  font-size: 1.25rem;
  text-align: center;
  padding: 1.375rem 2.375rem;
  display: inline-block;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.info-thanks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 35.0625rem;
  margin: 0 auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.info-thanks:not(:last-child) {
  margin-bottom: 3.4375rem;
}

.info-thanks__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
  max-width: 35.0625rem;
  margin: 0 auto;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  padding-top: 2.625rem;
  padding-bottom: 2.625rem;
}

.info-thanks__body.left {
  text-align: left;
  padding-right: 0.625rem;
}

.info-thanks__body.right {
  text-align: right;
  padding-left: 0.625rem;
}

.info-thanks__title {
  font-weight: 700;
  font-size: 1.25rem;
}

.info-thanks__desc {
  color: #525252;
  font-weight: 500;
  font-size: 1.25rem;
}

.top-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 3.375rem;
  padding-left: 2.3125rem;
  padding-bottom: 3.75rem;
}

.top-about__info {
  display: -ms-grid;
  display: grid;
  justify-items: start;
  -ms-flex-line-pack: start;
      align-content: start;
  padding-right: 3.4375rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.top-about__title {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 2.8125rem;
  margin-bottom: 2rem;
}

.top-about__contacts {
  margin-bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2.75rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top-about__name {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.4166666667;
}

.top-about__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.75rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top-about__social {
  width: 24px;
  height: 24px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.top-about__social.twitch {
  background: url("../img/twitch.svg") center/contain no-repeat;
}

.top-about__social.youtube {
  background: url("../img/youtube.svg") center/contain no-repeat;
  width: 30px;
  height: 30px;
}

.top-about__social.discord {
  background: url("../img/discord.svg") center/contain no-repeat;
}

.top-about__text {
  font-weight: 500;
  line-height: 1.375;
  text-align: left;
  opacity: 0.6;
}

.top-about__text p:not(:last-child) {
  margin-bottom: 0.625rem;
}

.top-about__image {
  width: 303px;
  height: 303px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 303px;
          flex: 0 0 303px;
}

.top-about__image img {
  max-width: 100%;
}

.top-about__image.top {
  display: none;
}

.bottom-about {
  border-radius: 40px;
  background: rgba(198, 198, 198, 0.09);
  padding-bottom: 4.25rem;
  padding-right: 3.375rem;
  padding-left: 2.3125rem;
  padding-top: 1.8125rem;
}

.bottom-about__title {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.4166666667;
  margin-bottom: 2.125rem;
  text-align: left;
}

.bottom-about__items {
  display: -ms-grid;
  display: grid;
  gap: 4.4375rem;
}

.item-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-about .bottom-left-block__row {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding-right: 1.5625rem;
  height: 16px;
}

.item-about__title {
  padding-right: 1.5625rem;
  color: #525252;
  font-weight: 500;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 190px;
          flex: 0 1 190px;
  text-align: left;
}

.item-about__button {
  display: block;
  border-radius: 10px;
  border: 1px solid #CECECE;
  background: #4059ED;
  color: #FFF;
  font-weight: 500;
  text-align: center;
  padding: 1.0625rem 2.5rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@media (min-width: 47.99875em) {
  .info-thanks {
    border-top: 1px dashed #A7A3A3;
    border-bottom: 1px dashed #A7A3A3;
  }
}

@media (min-width: 102.875em) {
  .donate-page__body {
    padding-right: 6.875rem;
  }

  .donate-page__body {
    padding-left: 6.875rem;
  }

  .donate-page__body {
    padding-top: 5.75rem;
  }

  .donate-page__body {
    padding-bottom: 5.75rem;
  }

  .donate-page__body_small {
    padding-right: 6.875rem;
  }

  .donate-page__body_small {
    padding-left: 6.875rem;
  }

  .left-block-donate {
    padding-right: 7.5rem;
  }

  .left-block-donate__title {
    font-size: 2.8125rem;
  }

  .left-block-donate__title {
    margin-bottom: 3.125rem;
  }
}

@media (max-width: 62em) {
  .donate-page__body {
    padding-right: 0.9375rem;
  }

  .donate-page__body {
    padding-left: 0.9375rem;
  }

  .donate-page__body_small {
    padding-right: 2.78125rem;
  }

  .donate-page__body_small {
    padding-left: 2.78125rem;
  }

  .left-block-donate {
    padding-right: 1.25rem;
  }
}

@media (max-width: 61.99875em) {
  .donate-page::after {
    top: 15px;
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0);
    left: -50px;
  }

  .donate-page::before {
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0);
    right: -30px;
    bottom: 32px;
  }

  .donate-page__content {
    padding-top: 9.1875rem;
    padding-bottom: 14.625rem;
  }

  .donate-page__body.none {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: inherit;
    padding: 0;
  }

  .donate-page__body_small {
    padding-top: 4.375rem;
    padding-bottom: 6.5rem;
  }

  .donate-page__body.padding-another {
    padding-top: 4rem;
    padding-right: 0rem;
    padding-left: 0rem;
    padding-bottom: 0rem;
  }

  .left-block-donate {
    border-radius: 30px;
    background: #FFF;
    padding: 4.375rem 4.0625rem 6.25rem 4.0625rem;
  }

  .left-block-donate:not(:last-child) {
    margin-bottom: 2.1875rem;
  }

  .left-block-donate__title {
    text-align: center;
  }

  .left-block-donate__sub {
    text-align: center;
  }

  .last-donate {
    padding: 3.3125rem 4.0625rem;
  }

  .thanks__icon {
    width: 100px;
    height: 100px;
    margin-bottom: 3.9375rem;
  }

  .thanks__title {
    font-size: 2.5rem;
    margin-bottom: 2.8125rem;
  }

  .top-about {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }

  .top-about__title {
    font-size: 2.5rem;
  }

  .top-about__contacts {
    gap: 2.125rem;
    margin-bottom: 1.125rem;
  }

  .top-about__name {
    font-size: 1.375rem;
  }

  .top-about__text {
    font-size: 0.875rem;
  }

  .top-about__image {
    width: 250px;
    height: 250px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 250px;
            flex: 0 0 250px;
  }

  .bottom-about {
    padding-bottom: 5.4375rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }

  .bottom-about__title {
    margin-bottom: 3.875rem;
  }

  .item-about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .item-about .bottom-left-block__row {
    width: 85%;
    margin-bottom: 2.4375rem;
  }

  .item-about__title {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    width: 85%;
    -ms-flex-item-align: start;
        align-self: flex-start;
    margin: 0 auto;
    margin-bottom: 4.25rem;
  }
}

@media (max-width: 47.99875em) {
  [class*=__container] {
    padding: 0 0.9375rem;
  }

  .donate-page::after {
    width: 160px;
    height: 150px;
    left: 0px;
    background: url("../img/logo-bg-mobile.svg") center/contain no-repeat;
  }

  .donate-page::before {
    width: 160px;
    height: 150px;
    right: 0px;
    bottom: 47px;
    background: url("../img/logo-bg-mobile.svg") center/contain no-repeat;
  }

  .donate-page__content {
    padding-top: 7.75rem;
    padding-bottom: 9.6875rem;
  }

  .donate-page__body_small {
    padding-top: 3.625rem;
    padding-bottom: 3.5625rem;
    padding-right: 0.625rem;
    padding-left: 0.625rem;
  }

  .donate-page__body.padding-another {
    padding-top: 4.8125rem;
    padding-right: 0rem;
    padding-left: 0rem;
    padding-bottom: 0rem;
  }

  .left-block-donate {
    padding: 2.5rem 0.625rem 4.375rem 0.625rem;
  }

  .left-block-donate:not(:last-child) {
    margin-bottom: 1.875rem;
  }

  .bottom-left-block__line::before {
    right: 0;
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0);
  }

  .bottom-left-block__line span::before {
    font-size: 0.75rem;
    top: -26px;
  }

  .bottom-left-block__line.two::before {
    top: -90px;
  }

  .bottom-left-block__line.one::before {
    top: -90px;
  }

  .bottom-left-block__sum {
    position: absolute;
    right: 0;
    top: -26px;
    font-size: 0.75rem;
  }

  .last-donate {
    padding: 2.0625rem 0.9375rem 3.3125rem 0.9375rem;
  }

  .last-donate__top:not(:last-child) {
    margin-bottom: 1.875rem;
  }

  .last-donate__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .last-donate__title {
    font-size: 1.875rem;
  }

  .last-donate__items {
    gap: 1.6875rem;
  }

  .last-donate__item {
    padding: 1.75rem 1.5rem;
  }

  .thanks__icon {
    width: 60px;
    height: 60px;
    margin-bottom: 2.4375rem;
  }

  .thanks__title {
    font-size: 1.875rem;
    margin-bottom: 2.5rem;
  }

  .thanks__sub {
    font-size: 1rem;
    margin-bottom: 3.75rem;
  }

  .info-thanks {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .info-thanks__body.left {
    text-align: center;
    padding-right: 0rem;
    border-top: 1px dashed #A7A3A3;
  }

  .info-thanks__body.right {
    text-align: center;
    padding-left: 0rem;
  }

  .info-thanks__body {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    width: 100%;
    border-bottom: 1px dashed #A7A3A3;
  }

  .top-about {
    padding-right: 1.1875rem;
    padding-left: 1.1875rem;
    padding-bottom: 2.6875rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .top-about__info {
    padding-right: 0rem;
  }

  .top-about__title {
    font-size: 2.1875rem;
    -ms-grid-column-align: center;
        justify-self: center;
    margin-bottom: 3.3125rem;
  }

  .top-about__contacts {
    margin-bottom: 2.6875rem;
    -ms-grid-column-align: center;
        justify-self: center;
    gap: 1.875rem;
  }

  .top-about__image {
    display: none;
  }

  .top-about__image.top {
    display: block;
    -ms-grid-column-align: center;
        justify-self: center;
    margin-bottom: 2.625rem;
  }

  .bottom-about {
    padding-top: 1.3125rem;
    padding-bottom: 5rem;
    padding-right: 1.1875rem;
    padding-left: 1.1875rem;
  }

  .bottom-about__title {
    margin-bottom: 3.375rem;
  }

  .bottom-about__items {
    gap: 3.9375rem;
  }

  .item-about .bottom-left-block__row {
    width: 100%;
    height: 12px;
    padding-right: 0;
  }

  .item-about__title {
    margin-bottom: 2.75rem;
    width: 100%;
  }
  .bottom-left-block__line::after {
	width: 20px;
	height: 20px;
	top: -5px;
 }
 
 .bottom-left-block__line::before{
	background: url("../img/donate.png") center/cover no-repeat; }
 
 .bottom-left-block__line span {
	width: 20px;
	height: 20px;
	top: -5px;
 }
}

@media (max-width: 22.5em) {
  .donate-page__body {
    padding-top: 2.5rem;
  }

  .donate-page__body {
    padding-bottom: 3.125rem;
  }

  .left-block-donate__title {
    font-size: 1.875rem;
  }

  .left-block-donate__title {
    margin-bottom: 1.625rem;
  }
}

@media (min-width: 62em) and (max-width: 102.875em) {
@supports (padding-right: clamp( 0.9375rem , -8.068616208rem  +  14.5259938838vw , 6.875rem )) {
    .donate-page__body {
      padding-right: clamp( 0.9375rem , -8.068616208rem  +  14.5259938838vw , 6.875rem );
    }
}

@supports not (padding-right: clamp( 0.9375rem , -8.068616208rem  +  14.5259938838vw , 6.875rem )) {
    .donate-page__body {
      padding-right: calc(0.9375rem + 5.9375 * (100vw - 62rem) / 40.875);
    }
}

@supports (padding-left: clamp( 0.9375rem , -8.068616208rem  +  14.5259938838vw , 6.875rem )) {
    .donate-page__body {
      padding-left: clamp( 0.9375rem , -8.068616208rem  +  14.5259938838vw , 6.875rem );
    }
}

@supports not (padding-left: clamp( 0.9375rem , -8.068616208rem  +  14.5259938838vw , 6.875rem )) {
    .donate-page__body {
      padding-left: calc(0.9375rem + 5.9375 * (100vw - 62rem) / 40.875);
    }
}

@supports (padding-right: clamp( 2.78125rem , -3.4282301223rem  +  10.0152905199vw , 6.875rem )) {
    .donate-page__body_small {
      padding-right: clamp( 2.78125rem , -3.4282301223rem  +  10.0152905199vw , 6.875rem );
    }
}

@supports not (padding-right: clamp( 2.78125rem , -3.4282301223rem  +  10.0152905199vw , 6.875rem )) {
    .donate-page__body_small {
      padding-right: calc(2.78125rem + 4.09375 * (100vw - 62rem) / 40.875);
    }
}

@supports (padding-left: clamp( 2.78125rem , -3.4282301223rem  +  10.0152905199vw , 6.875rem )) {
    .donate-page__body_small {
      padding-left: clamp( 2.78125rem , -3.4282301223rem  +  10.0152905199vw , 6.875rem );
    }
}

@supports not (padding-left: clamp( 2.78125rem , -3.4282301223rem  +  10.0152905199vw , 6.875rem )) {
    .donate-page__body_small {
      padding-left: calc(2.78125rem + 4.09375 * (100vw - 62rem) / 40.875);
    }
}

@supports (padding-right: clamp( 1.25rem , -8.2301223242rem  +  15.2905198777vw , 7.5rem )) {
    .left-block-donate {
      padding-right: clamp( 1.25rem , -8.2301223242rem  +  15.2905198777vw , 7.5rem );
    }
}

@supports not (padding-right: clamp( 1.25rem , -8.2301223242rem  +  15.2905198777vw , 7.5rem )) {
    .left-block-donate {
      padding-right: calc(1.25rem + 6.25 * (100vw - 62rem) / 40.875);
    }
}
}

@media (min-width: 22.5em) and (max-width: 102.875em) {
@supports (padding-top: clamp( 2.5rem , 1.5902021773rem  +  4.0435458787vw , 5.75rem )) {
    .donate-page__body {
      padding-top: clamp( 2.5rem , 1.5902021773rem  +  4.0435458787vw , 5.75rem );
    }
}

@supports not (padding-top: clamp( 2.5rem , 1.5902021773rem  +  4.0435458787vw , 5.75rem )) {
    .donate-page__body {
      padding-top: calc(2.5rem + 3.25 * (100vw - 22.5rem) / 80.375);
    }
}

@supports (padding-bottom: clamp( 3.125rem , 2.390163297rem  +  3.265940902vw , 5.75rem )) {
    .donate-page__body {
      padding-bottom: clamp( 3.125rem , 2.390163297rem  +  3.265940902vw , 5.75rem );
    }
}

@supports not (padding-bottom: clamp( 3.125rem , 2.390163297rem  +  3.265940902vw , 5.75rem )) {
    .donate-page__body {
      padding-bottom: calc(3.125rem + 2.625 * (100vw - 22.5rem) / 80.375);
    }
}

@supports (font-size: clamp( 1.875rem , 1.6125583204rem  +  1.166407465vw , 2.8125rem )) {
    .left-block-donate__title {
      font-size: clamp( 1.875rem , 1.6125583204rem  +  1.166407465vw , 2.8125rem );
    }
}

@supports not (font-size: clamp( 1.875rem , 1.6125583204rem  +  1.166407465vw , 2.8125rem )) {
    .left-block-donate__title {
      font-size: calc(1.875rem + 0.9375 * (100vw - 22.5rem) / 80.375);
    }
}

@supports (margin-bottom: clamp( 1.625rem , 1.2050933126rem  +  1.866251944vw , 3.125rem )) {
    .left-block-donate__title {
      margin-bottom: clamp( 1.625rem , 1.2050933126rem  +  1.866251944vw , 3.125rem );
    }
}

@supports not (margin-bottom: clamp( 1.625rem , 1.2050933126rem  +  1.866251944vw , 3.125rem )) {
    .left-block-donate__title {
      margin-bottom: calc(1.625rem + 1.5 * (100vw - 22.5rem) / 80.375);
    }
}
}

@media (any-hover: hover) {
  .form__button button:hover {
    opacity: 0.7;
  }

  .thanks__button:hover {
    opacity: 0.7;
  }

  .top-about__social:hover {
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
  }

  .item-about__button:hover {
    opacity: 0.7;
  }
}
