@charset "UTF-8";

@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: museosanscyrl;
  font-display: swap;
  src: url("../fonts/museosanscyrl-300.woff2") format("woff2"), url("../fonts/museosanscyrl-300.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: museosanscyrl;
  font-display: swap;
  src: url("../fonts/museosanscyrl-500.woff2") format("woff2"), url("../fonts/museosanscyrl-500.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: museosanscyrl;
  font-display: swap;
  src: url("../fonts/museosanscyrl-700.woff2") format("woff2"), url("../fonts/museosanscyrl-700.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: robotocondensed;
  font-display: swap;
  src: url("../fonts/robotocondensed-bold.woff2") format("woff2"), url("../fonts/robotocondensed-bold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: museosanscyrl;
  font-display: swap;
  src: url("../fonts/museosanscyrl-900.woff2") format("woff2"), url("../fonts/museosanscyrl-900.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "museosanscyrl";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "museosanscyrl";
  font-size: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 75rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.spollers {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

.spollers__title {
  width: 100%;
  cursor: default;
  text-align: left;
  border: 1px solid #DE1F26;
  padding: 0.625rem 0.9375rem;
  padding-right: 2.5rem;
  border-radius: 0.3125rem;
  position: relative;
  list-style: none;
}

._spoller-init .spollers__title {
  cursor: pointer;
}

._spoller-init .spollers__title::before,
._spoller-init .spollers__title::after {
  content: "";
  position: absolute;
  right: 10px;
  top: 50%;
  background-color: #000;
  height: 2px;
  width: 15px;
  -webkit-transition: -webkit-transform 0.5s ease 0s;
  transition: -webkit-transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
}

._spoller-init .spollers__title::before {
  -webkit-transform: translate(-75%, -50%) rotate(40deg);
      -ms-transform: translate(-75%, -50%) rotate(40deg);
          transform: translate(-75%, -50%) rotate(40deg);
}

._spoller-init .spollers__title::after {
  -webkit-transform: translate(0, -50%) rotate(-40deg);
      -ms-transform: translate(0, -50%) rotate(-40deg);
          transform: translate(0, -50%) rotate(-40deg);
}

._spoller-init .spollers__title._spoller-active::before {
  -webkit-transform: translateX(-75%) rotate(-40deg);
      -ms-transform: translateX(-75%) rotate(-40deg);
          transform: translateX(-75%) rotate(-40deg);
}

._spoller-init .spollers__title._spoller-active::after {
  -webkit-transform: rotate(40deg);
      -ms-transform: rotate(40deg);
          transform: rotate(40deg);
}

.spollers__body {
  padding: 1.25rem;
  border-radius: 0.3125rem;
  border: 1px solid #DE1F26;
  line-height: 1.2;
}

.spollers__body p:not(:last-child) {
  margin-bottom: 0.625rem;
  line-height: 1.2;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		z-index: 5;
		@media (any-hover: none) {
			cursor: default;
		}
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/

.banner {
  min-height: 43.75rem;
}

.banner__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 4;
  margin-bottom: -5rem;
  gap: 1.875rem;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}

.banner__image {
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 24.375rem;
          flex: 0 1 24.375rem;
}

.banner__image img {
  max-width: 100%;
}

.banner__title {
  font-weight: 800;
  color: #fff;
}

.banner__title:not(:last-child) {
  margin-bottom: 1.25rem;
}

.banner__sub-title {
  -webkit-text-stroke: 1px #fff;
  color: #DE1F26;
  font-weight: 800;
}

.banner__sub-title:not(:last-child) {
  margin-bottom: 1.25rem;
}

.banner__desc {
  color: #fff;
  font-style: italic;
  line-height: 1.2;
  font-weight: 500;
}

.banner__desc:not(:last-child) {
  margin-bottom: 2.5rem;
}

.banner__button {
  text-transform: uppercase;
  padding: 1.25rem 1.875rem;
  border: 2px solid #000;
  display: inline-block;
  font-weight: 600;
  background-color: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  font-size: 1.125rem;
  text-align: center;
}

.slider-block__slide {
  position: relative;
  min-height: 37.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.slider-block__image-ibg {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-bottom: 5px solid #DE1F26;
}

.slider-block__image-ibg::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4078431373);
  z-index: 3;
}

.series {
  color: #fff;
}

.series__items {
  display: -ms-grid;
  display: grid;
  gap: 1.25rem;
}

.series__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 21.875rem;
}

.series__row.reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.series__item {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40%;
          flex: 1 1 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 0.9375rem;
  cursor: pointer;
}

.series__item::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.series__item.big {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 60%;
          flex: 1 1 60%;
}

.series__item.all {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}

.no-webp .series__item.one{
  background: url("../images/page/series/01.png") center/cover no-repeat; }

.no-webp .series__item.two{
  background: url("../images/page/series/02.png") center/cover no-repeat; }

.no-webp .series__item.three{
  background: url("../images/page/series/06.png") center/cover no-repeat; }

.no-webp .series__item.four{
  background: url("../images/page/series/04.png") center/cover no-repeat; }

.no-webp .series__item.five{
  background: url("../images/page/series/05.png") center/cover no-repeat; }

.series__item.padding {
  margin-right: 1.25rem;
}

.series__body {
  position: relative;
  z-index: 3;
}

.series__title {
  font-weight: 700;
  opacity: 1;
}

.series__desc {
  line-height: 1.2;
}

.opacity {
  opacity: 0;
  height: 0;
}

.bg-item {
  background-color: rgba(0, 98, 190, 0.2980392157);
}

.no-webp .assortment{
  background: url("../images/page/bg.jpeg") center/cover no-repeat; }

.assortment__container {
  min-height: 32.8125rem;
  padding-top: 3.125rem;
}

.assortment__title {
  text-transform: uppercase;
  text-align: center;
  line-height: 1.2;
  font-weight: 700;
}

.assortment__title:not(:last-child) {
  margin-bottom: 4.375rem;
}

.assortment__title a {
  color: #DE1F26;
  text-shadow: 2px 2px 0 #8a1619;
}

.assortment__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  row-gap: 1.25rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.assortment__button {
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  padding: 1.25rem 1.875rem;
  border: 2px solid #000;
  font-weight: 600;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  font-size: 1.125rem;
  min-width: 18.75rem;
}

.featured__title {
  text-transform: uppercase;
  text-align: center;
  line-height: 1.2;
  font-weight: 700;
}

.featured__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  gap: 1.25rem;
}

.featured__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-image: -webkit-gradient(linear, left top, right top, from(rgb(254, 254, 254)), to(rgb(244, 244, 244)));
  background-image: linear-gradient(90deg, rgb(254, 254, 254), rgb(244, 244, 244));
  border-radius: 1rem;
  padding: 1.25rem;
}

.featured__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 46%;
          flex: 0 0 46%;
  width: 46%;
  -o-object-fit: contain;
     object-fit: contain;
}

.featured__name {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  text-transform: uppercase;
  font-weight: 600;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.no-webp .about-us{
  background: url("../images/page/bg2.jpg") center/cover no-repeat; }

.about-us__body {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(143, 143, 143, 0.966)), to(rgba(153, 152, 152, 0.396)));
  background-image: linear-gradient(90deg, rgba(143, 143, 143, 0.966), rgba(153, 152, 152, 0.396));
  border-radius: 1rem;
  padding: 1.25rem;
  color: #fff;
}

.about-us__body:not(:last-child) {
  margin-bottom: 3.125rem;
}

.about-us__title {
  text-transform: uppercase;
  line-height: 1.2;
  font-weight: 700;
  border-bottom: 1px solid #fff;
  padding-bottom: 0.625rem;
}

.about-us__title a {
  color: #DE1F26;
  text-shadow: 2px 2px 0 #8a1619;
}

.about-us__title:not(:last-child) {
  margin-bottom: 1.875rem;
}

.about-us__text {
  line-height: 1.2;
  font-weight: 500;
}

.about-us__text p:not(:last-child) {
  margin-bottom: 0.625rem;
}

.question__title {
  text-transform: uppercase;
  line-height: 1.2;
  font-weight: 700;
  color: #000;
  text-align: center;
}

.question__title:not(:last-child) {
  margin-bottom: 2.5rem;
}

.no-webp .video{
  background: url("../images/page/bg3.jpg") bottom/cover no-repeat; }

.video__link {
  gap: 0.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-transform: uppercase;
  line-height: 1.2;
  font-weight: 700;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.video__link span {
  color: #DE1F26;
  text-shadow: 2px 2px 0 #8a1619;
}

.video__link:not(:last-child) {
  margin-bottom: 2.5rem;
}

.video__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding-bottom: 40%;
  border-radius: 1rem;
}

.video__item iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 1rem;
}

.swiper-initialized {
  -ms-touch-action: pan-y;
      touch-action: pan-y;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

@media (min-width: 75em) {
  .spollers__item {
    font-size: 1.25rem;
  }

  .spollers__body {
    font-size: 1.125rem;
  }

  .banner__title {
    font-size: 4.375rem;
  }

  .banner__sub-title {
    font-size: 2.25rem;
  }

  .banner__desc {
    font-size: 1.375rem;
  }

  .series {
    padding-top: 5rem;
  }

  .series {
    padding-bottom: 5rem;
  }

  .series__title {
    font-size: 2.25rem;
  }

  .series__desc {
    font-size: 1.125rem;
  }

  .assortment {
    padding-top: 5rem;
  }

  .assortment {
    padding-bottom: 5rem;
  }

  .assortment__title {
    font-size: 2.5rem;
  }

  .assortment__buttons {
    -webkit-column-gap: 3.125rem;
       -moz-column-gap: 3.125rem;
            column-gap: 3.125rem;
  }

  .featured {
    padding-top: 5rem;
  }

  .featured {
    padding-bottom: 5rem;
  }

  .featured__title {
    font-size: 2.5rem;
  }

  .featured__title:not(:last-child) {
    margin-bottom: 3.75rem;
  }

  .featured__image {
    height: 25.375rem;
  }

  .featured__image.big {
    height: 23.75rem;
  }

  .featured__name {
    font-size: 2.25rem;
  }

  .about-us {
    padding-top: 6.25rem;
  }

  .about-us {
    padding-bottom: 6.25rem;
  }

  .about-us__title {
    font-size: 2.5rem;
  }

  .about-us__text {
    font-size: 1.625rem;
  }

  .question {
    padding-top: 6.25rem;
  }

  .question {
    padding-bottom: 6.25rem;
  }

  .question__title {
    font-size: 2.5rem;
  }

  .video {
    padding-top: 6.25rem;
  }

  .video {
    padding-bottom: 6.25rem;
  }

  .video__container {
    min-height: 31.25rem;
  }

  .video__link {
    font-size: 2.5rem;
  }

  .video__item {
    margin-left: 12.5rem;
  }

  .video__item {
    margin-right: 12.5rem;
  }
}

@media (max-width: 20em) {
  .spollers__item {
    font-size: 1.125rem;
  }

  .spollers__body {
    font-size: 0.875rem;
  }

  .banner__title {
    font-size: 2.5rem;
  }

  .banner__sub-title {
    font-size: 1.375rem;
  }

  .banner__desc {
    font-size: 1rem;
  }

  .series {
    padding-top: 1.875rem;
  }

  .series {
    padding-bottom: 1.875rem;
  }

  .series__title {
    font-size: 1.75rem;
  }

  .series__desc {
    font-size: 0.875rem;
  }

  .assortment {
    padding-top: 1.875rem;
  }

  .assortment {
    padding-bottom: 1.875rem;
  }

  .assortment__title {
    font-size: 1.625rem;
  }

  .assortment__buttons {
    -webkit-column-gap: 1.25rem;
       -moz-column-gap: 1.25rem;
            column-gap: 1.25rem;
  }

  .featured {
    padding-top: 1.875rem;
  }

  .featured {
    padding-bottom: 1.875rem;
  }

  .featured__title {
    font-size: 1.625rem;
  }

  .featured__title:not(:last-child) {
    margin-bottom: 1.875rem;
  }

  .featured__image {
    height: 12.5rem;
  }

  .featured__image.big {
    height: 11.25rem;
  }

  .featured__name {
    font-size: 1.25rem;
  }

  .about-us {
    padding-top: 1.875rem;
  }

  .about-us {
    padding-bottom: 1.875rem;
  }

  .about-us__title {
    font-size: 1.625rem;
  }

  .about-us__text {
    font-size: 1rem;
  }

  .question {
    padding-top: 1.875rem;
  }

  .question {
    padding-bottom: 1.875rem;
  }

  .question__title {
    font-size: 1.5rem;
  }

  .video {
    padding-top: 1.875rem;
  }

  .video {
    padding-bottom: 1.875rem;
  }

  .video__container {
    min-height: 18.75rem;
  }

  .video__link {
    font-size: 1.625rem;
  }

  .video__item {
    margin-left: 0.0000000625rem;
  }

  .video__item {
    margin-right: 0.0000000625rem;
  }
}

@media (max-width: 64.375em) and (max-width: 20em) {
  .featured__name {
    font-size: 1.125rem;
  }
}

@media (max-width: 61.99875em) {
  .spollers__title {
    min-height: 3.75rem;
  }
}

@media (max-width: 47.99875em) {
  .spollers {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
  }

  .spollers__title {
    min-height: 0rem;
  }

  .series__row.reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    min-height: 43.75rem;
  }

  .series__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .series__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .series__item.big {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .series__item.one {
    min-height: 21.875rem;
  }

  .series__item.two {
    min-height: 21.875rem;
  }

  .series__item.padding {
    margin-right: 0rem;
    margin-bottom: 1.25rem;
  }

  .featured__items {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
  }

  .video__item {
    padding-bottom: 50%;
  }
}

@media (max-width: 32.5em) {
  .video__link {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 29.99875em) {
  .banner__image {
    display: none;
  }
}

@media (min-width: 20em) and (max-width: 75em) {
@supports (font-size: clamp( 1.125rem , 1.0795454545rem  +  0.2272727273vw , 1.25rem )) {
    .spollers__item {
      font-size: clamp( 1.125rem , 1.0795454545rem  +  0.2272727273vw , 1.25rem );
    }
}

@supports not (font-size: clamp( 1.125rem , 1.0795454545rem  +  0.2272727273vw , 1.25rem )) {
    .spollers__item {
      font-size: calc(1.125rem + 0.125 * (100vw - 20rem) / 55);
    }
}

@supports (font-size: clamp( 0.875rem , 0.7840909091rem  +  0.4545454545vw , 1.125rem )) {
    .spollers__body {
      font-size: clamp( 0.875rem , 0.7840909091rem  +  0.4545454545vw , 1.125rem );
    }
}

@supports not (font-size: clamp( 0.875rem , 0.7840909091rem  +  0.4545454545vw , 1.125rem )) {
    .spollers__body {
      font-size: calc(0.875rem + 0.25 * (100vw - 20rem) / 55);
    }
}

@supports (font-size: clamp( 2.5rem , 1.8181818182rem  +  3.4090909091vw , 4.375rem )) {
    .banner__title {
      font-size: clamp( 2.5rem , 1.8181818182rem  +  3.4090909091vw , 4.375rem );
    }
}

@supports not (font-size: clamp( 2.5rem , 1.8181818182rem  +  3.4090909091vw , 4.375rem )) {
    .banner__title {
      font-size: calc(2.5rem + 1.875 * (100vw - 20rem) / 55);
    }
}

@supports (font-size: clamp( 1.375rem , 1.0568181818rem  +  1.5909090909vw , 2.25rem )) {
    .banner__sub-title {
      font-size: clamp( 1.375rem , 1.0568181818rem  +  1.5909090909vw , 2.25rem );
    }
}

@supports not (font-size: clamp( 1.375rem , 1.0568181818rem  +  1.5909090909vw , 2.25rem )) {
    .banner__sub-title {
      font-size: calc(1.375rem + 0.875 * (100vw - 20rem) / 55);
    }
}

@supports (font-size: clamp( 1rem , 0.8636363636rem  +  0.6818181818vw , 1.375rem )) {
    .banner__desc {
      font-size: clamp( 1rem , 0.8636363636rem  +  0.6818181818vw , 1.375rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.8636363636rem  +  0.6818181818vw , 1.375rem )) {
    .banner__desc {
      font-size: calc(1rem + 0.375 * (100vw - 20rem) / 55);
    }
}

@supports (padding-top: clamp( 1.875rem , 0.7386363636rem  +  5.6818181818vw , 5rem )) {
    .series {
      padding-top: clamp( 1.875rem , 0.7386363636rem  +  5.6818181818vw , 5rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , 0.7386363636rem  +  5.6818181818vw , 5rem )) {
    .series {
      padding-top: calc(1.875rem + 3.125 * (100vw - 20rem) / 55);
    }
}

@supports (padding-bottom: clamp( 1.875rem , 0.7386363636rem  +  5.6818181818vw , 5rem )) {
    .series {
      padding-bottom: clamp( 1.875rem , 0.7386363636rem  +  5.6818181818vw , 5rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , 0.7386363636rem  +  5.6818181818vw , 5rem )) {
    .series {
      padding-bottom: calc(1.875rem + 3.125 * (100vw - 20rem) / 55);
    }
}

@supports (font-size: clamp( 1.75rem , 1.5681818182rem  +  0.9090909091vw , 2.25rem )) {
    .series__title {
      font-size: clamp( 1.75rem , 1.5681818182rem  +  0.9090909091vw , 2.25rem );
    }
}

@supports not (font-size: clamp( 1.75rem , 1.5681818182rem  +  0.9090909091vw , 2.25rem )) {
    .series__title {
      font-size: calc(1.75rem + 0.5 * (100vw - 20rem) / 55);
    }
}

@supports (font-size: clamp( 0.875rem , 0.7840909091rem  +  0.4545454545vw , 1.125rem )) {
    .series__desc {
      font-size: clamp( 0.875rem , 0.7840909091rem  +  0.4545454545vw , 1.125rem );
    }
}

@supports not (font-size: clamp( 0.875rem , 0.7840909091rem  +  0.4545454545vw , 1.125rem )) {
    .series__desc {
      font-size: calc(0.875rem + 0.25 * (100vw - 20rem) / 55);
    }
}

@supports (padding-top: clamp( 1.875rem , 0.7386363636rem  +  5.6818181818vw , 5rem )) {
    .assortment {
      padding-top: clamp( 1.875rem , 0.7386363636rem  +  5.6818181818vw , 5rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , 0.7386363636rem  +  5.6818181818vw , 5rem )) {
    .assortment {
      padding-top: calc(1.875rem + 3.125 * (100vw - 20rem) / 55);
    }
}

@supports (padding-bottom: clamp( 1.875rem , 0.7386363636rem  +  5.6818181818vw , 5rem )) {
    .assortment {
      padding-bottom: clamp( 1.875rem , 0.7386363636rem  +  5.6818181818vw , 5rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , 0.7386363636rem  +  5.6818181818vw , 5rem )) {
    .assortment {
      padding-bottom: calc(1.875rem + 3.125 * (100vw - 20rem) / 55);
    }
}

@supports (font-size: clamp( 1.625rem , 1.3068181818rem  +  1.5909090909vw , 2.5rem )) {
    .assortment__title {
      font-size: clamp( 1.625rem , 1.3068181818rem  +  1.5909090909vw , 2.5rem );
    }
}

@supports not (font-size: clamp( 1.625rem , 1.3068181818rem  +  1.5909090909vw , 2.5rem )) {
    .assortment__title {
      font-size: calc(1.625rem + 0.875 * (100vw - 20rem) / 55);
    }
}

@supports ((-moz-column-gap: clamp( 1.25rem , 0.5681818182rem  +  3.4090909091vw , 3.125rem )) or (column-gap: clamp( 1.25rem , 0.5681818182rem  +  3.4090909091vw , 3.125rem ))) {
    .assortment__buttons {
      -webkit-column-gap: clamp( 1.25rem , 0.5681818182rem  +  3.4090909091vw , 3.125rem );
         -moz-column-gap: clamp( 1.25rem , 0.5681818182rem  +  3.4090909091vw , 3.125rem );
              column-gap: clamp( 1.25rem , 0.5681818182rem  +  3.4090909091vw , 3.125rem );
    }
}

@supports not ((-moz-column-gap: clamp( 1.25rem , 0.5681818182rem  +  3.4090909091vw , 3.125rem )) or (column-gap: clamp( 1.25rem , 0.5681818182rem  +  3.4090909091vw , 3.125rem ))) {
    .assortment__buttons {
      -webkit-column-gap: calc(1.25rem + 1.875 * (100vw - 20rem) / 55);
         -moz-column-gap: calc(1.25rem + 1.875 * (100vw - 20rem) / 55);
              column-gap: calc(1.25rem + 1.875 * (100vw - 20rem) / 55);
    }
}

@supports (padding-top: clamp( 1.875rem , 0.7386363636rem  +  5.6818181818vw , 5rem )) {
    .featured {
      padding-top: clamp( 1.875rem , 0.7386363636rem  +  5.6818181818vw , 5rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , 0.7386363636rem  +  5.6818181818vw , 5rem )) {
    .featured {
      padding-top: calc(1.875rem + 3.125 * (100vw - 20rem) / 55);
    }
}

@supports (padding-bottom: clamp( 1.875rem , 0.7386363636rem  +  5.6818181818vw , 5rem )) {
    .featured {
      padding-bottom: clamp( 1.875rem , 0.7386363636rem  +  5.6818181818vw , 5rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , 0.7386363636rem  +  5.6818181818vw , 5rem )) {
    .featured {
      padding-bottom: calc(1.875rem + 3.125 * (100vw - 20rem) / 55);
    }
}

@supports (font-size: clamp( 1.625rem , 1.3068181818rem  +  1.5909090909vw , 2.5rem )) {
    .featured__title {
      font-size: clamp( 1.625rem , 1.3068181818rem  +  1.5909090909vw , 2.5rem );
    }
}

@supports not (font-size: clamp( 1.625rem , 1.3068181818rem  +  1.5909090909vw , 2.5rem )) {
    .featured__title {
      font-size: calc(1.625rem + 0.875 * (100vw - 20rem) / 55);
    }
}

@supports (margin-bottom: clamp( 1.875rem , 1.1931818182rem  +  3.4090909091vw , 3.75rem )) {
    .featured__title:not(:last-child) {
      margin-bottom: clamp( 1.875rem , 1.1931818182rem  +  3.4090909091vw , 3.75rem );
    }
}

@supports not (margin-bottom: clamp( 1.875rem , 1.1931818182rem  +  3.4090909091vw , 3.75rem )) {
    .featured__title:not(:last-child) {
      margin-bottom: calc(1.875rem + 1.875 * (100vw - 20rem) / 55);
    }
}

@supports (height: clamp( 12.5rem , 7.8181818182rem  +  23.4090909091vw , 25.375rem )) {
    .featured__image {
      height: clamp( 12.5rem , 7.8181818182rem  +  23.4090909091vw , 25.375rem );
    }
}

@supports not (height: clamp( 12.5rem , 7.8181818182rem  +  23.4090909091vw , 25.375rem )) {
    .featured__image {
      height: calc(12.5rem + 12.875 * (100vw - 20rem) / 55);
    }
}

@supports (height: clamp( 11.25rem , 6.7045454545rem  +  22.7272727273vw , 23.75rem )) {
    .featured__image.big {
      height: clamp( 11.25rem , 6.7045454545rem  +  22.7272727273vw , 23.75rem );
    }
}

@supports not (height: clamp( 11.25rem , 6.7045454545rem  +  22.7272727273vw , 23.75rem )) {
    .featured__image.big {
      height: calc(11.25rem + 12.5 * (100vw - 20rem) / 55);
    }
}

@supports (font-size: clamp( 1.25rem , 0.8863636364rem  +  1.8181818182vw , 2.25rem )) {
    .featured__name {
      font-size: clamp( 1.25rem , 0.8863636364rem  +  1.8181818182vw , 2.25rem );
    }
}

@supports not (font-size: clamp( 1.25rem , 0.8863636364rem  +  1.8181818182vw , 2.25rem )) {
    .featured__name {
      font-size: calc(1.25rem + 1 * (100vw - 20rem) / 55);
    }
}

@supports (padding-top: clamp( 1.875rem , 0.2840909091rem  +  7.9545454545vw , 6.25rem )) {
    .about-us {
      padding-top: clamp( 1.875rem , 0.2840909091rem  +  7.9545454545vw , 6.25rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , 0.2840909091rem  +  7.9545454545vw , 6.25rem )) {
    .about-us {
      padding-top: calc(1.875rem + 4.375 * (100vw - 20rem) / 55);
    }
}

@supports (padding-bottom: clamp( 1.875rem , 0.2840909091rem  +  7.9545454545vw , 6.25rem )) {
    .about-us {
      padding-bottom: clamp( 1.875rem , 0.2840909091rem  +  7.9545454545vw , 6.25rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , 0.2840909091rem  +  7.9545454545vw , 6.25rem )) {
    .about-us {
      padding-bottom: calc(1.875rem + 4.375 * (100vw - 20rem) / 55);
    }
}

@supports (font-size: clamp( 1.625rem , 1.3068181818rem  +  1.5909090909vw , 2.5rem )) {
    .about-us__title {
      font-size: clamp( 1.625rem , 1.3068181818rem  +  1.5909090909vw , 2.5rem );
    }
}

@supports not (font-size: clamp( 1.625rem , 1.3068181818rem  +  1.5909090909vw , 2.5rem )) {
    .about-us__title {
      font-size: calc(1.625rem + 0.875 * (100vw - 20rem) / 55);
    }
}

@supports (font-size: clamp( 1rem , 0.7727272727rem  +  1.1363636364vw , 1.625rem )) {
    .about-us__text {
      font-size: clamp( 1rem , 0.7727272727rem  +  1.1363636364vw , 1.625rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.7727272727rem  +  1.1363636364vw , 1.625rem )) {
    .about-us__text {
      font-size: calc(1rem + 0.625 * (100vw - 20rem) / 55);
    }
}

@supports (padding-top: clamp( 1.875rem , 0.2840909091rem  +  7.9545454545vw , 6.25rem )) {
    .question {
      padding-top: clamp( 1.875rem , 0.2840909091rem  +  7.9545454545vw , 6.25rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , 0.2840909091rem  +  7.9545454545vw , 6.25rem )) {
    .question {
      padding-top: calc(1.875rem + 4.375 * (100vw - 20rem) / 55);
    }
}

@supports (padding-bottom: clamp( 1.875rem , 0.2840909091rem  +  7.9545454545vw , 6.25rem )) {
    .question {
      padding-bottom: clamp( 1.875rem , 0.2840909091rem  +  7.9545454545vw , 6.25rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , 0.2840909091rem  +  7.9545454545vw , 6.25rem )) {
    .question {
      padding-bottom: calc(1.875rem + 4.375 * (100vw - 20rem) / 55);
    }
}

@supports (font-size: clamp( 1.5rem , 1.1363636364rem  +  1.8181818182vw , 2.5rem )) {
    .question__title {
      font-size: clamp( 1.5rem , 1.1363636364rem  +  1.8181818182vw , 2.5rem );
    }
}

@supports not (font-size: clamp( 1.5rem , 1.1363636364rem  +  1.8181818182vw , 2.5rem )) {
    .question__title {
      font-size: calc(1.5rem + 1 * (100vw - 20rem) / 55);
    }
}

@supports (padding-top: clamp( 1.875rem , 0.2840909091rem  +  7.9545454545vw , 6.25rem )) {
    .video {
      padding-top: clamp( 1.875rem , 0.2840909091rem  +  7.9545454545vw , 6.25rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , 0.2840909091rem  +  7.9545454545vw , 6.25rem )) {
    .video {
      padding-top: calc(1.875rem + 4.375 * (100vw - 20rem) / 55);
    }
}

@supports (padding-bottom: clamp( 1.875rem , 0.2840909091rem  +  7.9545454545vw , 6.25rem )) {
    .video {
      padding-bottom: clamp( 1.875rem , 0.2840909091rem  +  7.9545454545vw , 6.25rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , 0.2840909091rem  +  7.9545454545vw , 6.25rem )) {
    .video {
      padding-bottom: calc(1.875rem + 4.375 * (100vw - 20rem) / 55);
    }
}

@supports (min-height: clamp( 18.75rem , 14.2045454545rem  +  22.7272727273vw , 31.25rem )) {
    .video__container {
      min-height: clamp( 18.75rem , 14.2045454545rem  +  22.7272727273vw , 31.25rem );
    }
}

@supports not (min-height: clamp( 18.75rem , 14.2045454545rem  +  22.7272727273vw , 31.25rem )) {
    .video__container {
      min-height: calc(18.75rem + 12.5 * (100vw - 20rem) / 55);
    }
}

@supports (font-size: clamp( 1.625rem , 1.3068181818rem  +  1.5909090909vw , 2.5rem )) {
    .video__link {
      font-size: clamp( 1.625rem , 1.3068181818rem  +  1.5909090909vw , 2.5rem );
    }
}

@supports not (font-size: clamp( 1.625rem , 1.3068181818rem  +  1.5909090909vw , 2.5rem )) {
    .video__link {
      font-size: calc(1.625rem + 0.875 * (100vw - 20rem) / 55);
    }
}

@supports (margin-left: clamp( 0.0000000625rem , -4.5454544602rem  +  22.7272726136vw , 12.5rem )) {
    .video__item {
      margin-left: clamp( 0.0000000625rem , -4.5454544602rem  +  22.7272726136vw , 12.5rem );
    }
}

@supports not (margin-left: clamp( 0.0000000625rem , -4.5454544602rem  +  22.7272726136vw , 12.5rem )) {
    .video__item {
      margin-left: calc(0.0000000625rem + 12.4999999375 * (100vw - 20rem) / 55);
    }
}

@supports (margin-right: clamp( 0.0000000625rem , -4.5454544602rem  +  22.7272726136vw , 12.5rem )) {
    .video__item {
      margin-right: clamp( 0.0000000625rem , -4.5454544602rem  +  22.7272726136vw , 12.5rem );
    }
}

@supports not (margin-right: clamp( 0.0000000625rem , -4.5454544602rem  +  22.7272726136vw , 12.5rem )) {
    .video__item {
      margin-right: calc(0.0000000625rem + 12.4999999375 * (100vw - 20rem) / 55);
    }
}
}

@media (max-width: 64.375em) and (min-width: 75em) {
  .featured__name {
    font-size: 1.625rem;
  }
}

@media (max-width: 64.375em) and (min-width: 20em) and (max-width: 75em) {
@supports (font-size: clamp( 1.125rem , 0.9431818182rem  +  0.9090909091vw , 1.625rem )) {
    .featured__name {
      font-size: clamp( 1.125rem , 0.9431818182rem  +  0.9090909091vw , 1.625rem );
    }
}

@supports not (font-size: clamp( 1.125rem , 0.9431818182rem  +  0.9090909091vw , 1.625rem )) {
    .featured__name {
      font-size: calc(1.125rem + 0.5 * (100vw - 20rem) / 55);
    }
}
}

@media (any-hover: hover) {
  .banner__button:hover {
    background-color: #000;
    color: #fff;
  }

  .series__item:hover::before {
    background-color: rgba(0, 98, 190, 0.2980392157);
  }

  .series__item:hover .series__title {
    opacity: 0;
    height: 0;
  }

  .series__item:hover .series__desc {
    opacity: 1;
    height: auto;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
  }

  .assortment__button:hover {
    background-color: #000;
    color: #fff;
  }

  .featured__item:hover {
    border: 2px solid #DE1F26;
    padding: 1.125rem;
  }

  .featured__item:hover .featured__name {
    color: #DE1F26;
  }
}

.webp .series__item.one{ background: url(../images/page/series/01.webp) center/cover no-repeat; }

.webp .series__item.two{ background: url(../images/page/series/02.webp) center/cover no-repeat; }

.webp .series__item.three{ background: url(../images/page/series/06.webp) center/cover no-repeat; }

.webp .series__item.four{ background: url(../images/page/series/04.webp) center/cover no-repeat; }

.webp .series__item.five{ background: url(../images/page/series/05.webp) center/cover no-repeat; }

.webp .assortment{ background: url(../images/page/bg.webp) center/cover no-repeat; }

.webp .about-us{ background: url(../images/page/bg2.webp) center/cover no-repeat; }

.webp .video{ background: url(../images/page/bg3.webp) bottom/cover no-repeat; }


.about_ex .item-title-block.advanteges{
	margin-bottom: 30px;
	background-color: inherit;
}
.about_ex.advanteges{
	background-color: #ced1d4;
}