.header-nav-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}
.header-nav__logo {
	display: block;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
    background: transparent url(../images/logo.svg) no-repeat center center;
    background-size: contain;
	z-index: 401;
    width: 197px;
    height: 72px;
    position: fixed;
	top: 0;
}
.header-nav-container .items {
    margin-left: 40%;
    width: 60%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    height: 72px;
}
.header-nav-container .items a {
    color: #003E75;
    text-decoration: none;
    font-weight: 700;
}
.header-nav-container .items .item {
    display: none;
    width: 300px;
}

.header-nav-container .items .item-btn a{
    -webkit-transition-duration: 0.1s;
    -webkit-transition-delay: 0.1s;
    -webkit-transition-timing-function: ease;
    transition-duration: 0.1s;
    transition-delay: 0.1s;
    transition-timing-function: ease;
    background-image: url(../images/blank.gif?crc=4208392903);
    border-width: 0px;
    border-color: transparent;
    background-color: #FFFFFF;
    border-radius: 5px;
    text-transform: uppercase;
    border: 1px solid #CCCCCC;
    padding: 5px 10px;
}
.header-nav-container .items .item-btn a:hover {
    border-color: #003E75;
    background-color: #003E75;
    color: #ffffff;
}
.header-nav-container .items .item p {
    line-height: 1;
    text-align: right;
}
.header-nav-container .items .item span {
    color: #7F7F7F;
    font-size: 12px;
}

@media (min-width: 768px) {
    .header-nav-container .items .item:first-of-type {
        display: inline-flex;
    }
}
@media (min-width: 1024px) {
    .header-nav-container .items .item:last-of-type {
        display: inline-flex;
    }
}
@media (min-width: 1200px) {
    .header-nav-container .items {
        margin-left: 60%;
        width: 40%;
    }
}