@import url(https://fonts.googleapis.com/css?family=Inter:regular,500,600,700&display=swap);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #1F2937;
  line-height: 1;
  font-family: "Inter";
  font-size: 1.125rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Inter";
  font-size: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  opacity: 0;
  -webkit-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.loaded body {
  opacity: 1;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 75.625rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.button {
  display: inline-block;
  text-align: center;
  padding: 0.75rem 2rem;
  color: #3730A3;
  font-weight: 500;
  border: 1px solid #3730A3;
  border-radius: 0.375rem;
  -webkit-transition: color, background-color 0.3s;
  -o-transition: color, background-color 0.3s;
  transition: color, background-color 0.3s;
}

.button._fw {
  width: 100%;
}

.button--bg {
  color: #FFFFFF;
  background-color: #3730A3;
  -webkit-transition: color, background-color 0.3s;
  -o-transition: color, background-color 0.3s;
  transition: color, background-color 0.3s;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.title {
  font-weight: 600;
  max-width: 65rem;
  text-align: center;
  margin: 0 auto;
}

.title span {
  color: #4338CA;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
}

.header._header-scroll {
  background-color: rgba(255, 255, 255, 0.9);
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: min-height 0.3s ease 0s;
  -o-transition: min-height 0.3s ease 0s;
  transition: min-height 0.3s ease 0s;
}

._header-scroll .header__container {
  min-height: 5rem;
}

.header__logo {
  position: relative;
  z-index: 2;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.3333333333;
  color: #7B61FF;
  -webkit-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
          transform: rotate(30deg);
  background-color: #EEEBFF;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 3.875rem;
          flex: 0 0 3.875rem;
  width: 3.875rem;
  height: 3.875rem;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__button {
  position: relative;
  z-index: 2;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.menu__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 0.625rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__link {
  font-weight: 500;
  line-height: 1.5555555556;
  color: #6B7280;
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}

.icon-menu {
  display: none;
}

.footer {
  background-color: #FEF2F2;
}

.footer__title:not(:last-child) {
  margin-bottom: 1.25rem;
}

.footer__text {
  color: #9CA3AF;
  line-height: 1.5555555556;
  text-align: center;
  max-width: 41.25rem;
  margin: 0 auto;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social__icon {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.main-block__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-block__content {
  display: -ms-grid;
  display: grid;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.main-block__autor {
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.4;
  color: #4338CA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.625rem;
}

.main-block__autor::before {
  content: "";
  -webkit-box-flex: 0;
      -ms-flex: 0 0 102px;
          flex: 0 0 102px;
  background-color: #4338ca;
  height: 1px;
}

.main-block__title {
  font-weight: 700;
}

.main-block__text {
  line-height: 1.5555555556;
  color: #6B7280;
}

.main-block__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.25rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main-block__desc {
  font-size: 12px;
  line-height: 1.3333333333;
  padding-top: 1.25rem;
  border-top: 1px solid #E5E7EB;
  color: #6B7280;
}

.main-block__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40.5084745763%;
          flex: 0 0 40.5084745763%;
  text-align: center;
}

.main-block__image img {
  max-width: 100%;
}

.services__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.services__image {
  text-align: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 37.2881355932%;
          flex: 0 0 37.2881355932%;
}

.services__image img {
  max-width: 100%;
}

.services__items {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -ms-grid-row-align: center;
      align-self: center;
  display: -ms-grid;
  display: grid;
}

.item-services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.item-services__title {
  font-weight: 600;
  line-height: 1.5555555556;
}

.item-services__text {
  font-weight: 400;
  color: #6B7280;
  font-size: 0.75rem;
  line-height: 1.3333333333;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.item-services__link {
  color: #4338CA;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 1.3333333333;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.3125rem;
}

.item-services__link::after {
  content: "";
  background: url("../img/services/arrow.svg") 0 0/100% no-repeat;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 0.75rem;
          flex: 0 0 0.75rem;
  width: 0.75rem;
  height: 0.75rem;
  -webkit-transition: -webkit-text-decoration 0.3s;
  transition: -webkit-text-decoration 0.3s;
  -o-transition: text-decoration 0.3s;
  transition: text-decoration 0.3s;
  transition: text-decoration 0.3s, -webkit-text-decoration 0.3s;
}

.clients {
  background-color: #FEF2F2;
}

.clients__container {
  display: -ms-grid;
  display: grid;
  gap: 1.25rem;
}

.clients__title {
  font-size: 1.25rem;
  line-height: 1.4;
  color: #9CA3AF;
}

.clients__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1.25rem;
}

.clients__item img {
  max-width: 100%;
}

.projects__items {
  display: -ms-grid;
  display: grid;
}

.projects__item {
  position: relative;
}

.projects__item--row-2 {
  -ms-grid-row-span: 2;
  grid-row: span 2;
}

.projects__image-ibg {
  padding: 0px 0px 74.8387096774% 0px;
  height: 100%;
}

.card-projects {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  padding: 1.25rem;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.touch .card-projects {
  opacity: 1;
  visibility: visible;
}

.card-projects__body {
  background-color: #FFFFFF;
  padding: 1.5625rem 3.75rem 1.5625rem 1.5625rem;
  position: relative;
}

.card-projects__body::before {
  content: "";
  background: url("../img/projects/arrow.svg") 0 0/100% no-repeat;
  width: 1.875rem;
  height: 1.875rem;
  display: inline-block;
  position: absolute;
  right: 1.5625rem;
  top: 2.1875rem;
}

.card-projects__title {
  font-weight: 500;
  line-height: 1.5555555556;
}

.card-projects__sub {
  color: #9CA3AF;
  font-size: 0.875rem;
  line-height: 1.4285714286;
  font-weight: 500;
}

.advantages__items {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15.625rem, 1fr));
  row-gap: 2.5rem;
}

.advantages__item {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  text-align: center;
}

.advantages__icon {
  background-color: #EEF2FF;
  border-radius: 6px;
  width: 8.75rem;
  height: 8.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.advantages__title {
  color: #374151;
  font-weight: 600;
  line-height: 1.2;
}

.advantages__text {
  color: #9CA3AF;
  line-height: 1.5555555556;
}

.table {
  color: #6B7280;
}

.table__item {
  width: 100%;
  min-width: 45rem;
  border-collapse: collapse;
}

.table__title {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5;
  text-transform: uppercase;
  text-align: left;
}

.table__title:not(:last-child) {
  padding-right: 0.9375rem;
}

.table__cell {
  font-size: 1rem;
  line-height: 1.5;
  text-transform: capitalize;
}

.table__cell span {
  color: #1F2937;
  font-weight: 600;
}

.table__cell:not(:last-child) {
  padding-right: 0.9375rem;
}

@media (min-width: 29.99875em) {
  .services__items {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 47.99875em) {
  .menu {
    padding-left: 1.25rem;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
  }

  .projects__items {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }

  .projects__item--col-2 {
    -ms-grid-column-span: 2;
    grid-column: span 2;
  }

  .projects__item--col-2 .projects__image-ibg {
    padding: 0px 0px 33.8983050847% 0px;
  }
}

@media (min-width: 47.99875em) and (min-width: 75.625em) {
  .main-block__content {
    padding-right: 5rem;
  }

  .services__items {
    padding-left: 3.125rem;
  }
}

@media (min-width: 75.625em) {
  .title {
    font-size: 3rem;
  }

  .header__container {
    min-height: 14.75rem;
  }

  .menu:not(:last-child) {
    margin-right: 5rem;
  }

  .menu__list {
    -webkit-column-gap: 5rem;
       -moz-column-gap: 5rem;
            column-gap: 5rem;
  }

  .footer {
    padding-top: 6.875rem;
  }

  .footer {
    padding-bottom: 6.875rem;
  }

  .footer__text:not(:last-child) {
    margin-bottom: 6.25rem;
  }

  .social {
    gap: 3.125rem;
  }

  .main-block {
    padding-top: 21.0625rem;
  }

  .main-block {
    padding-bottom: 6.25rem;
  }

  .main-block__content {
    gap: 2.5rem;
  }

  .main-block__title {
    font-size: 4.5rem;
  }

  .services {
    padding-top: 6.25rem;
  }

  .services {
    padding-bottom: 6.25rem;
  }

  .services__title {
    margin-bottom: 9.375rem;
  }

  .services__items {
    gap: 4.25rem;
  }

  .item-services {
    gap: 1.25rem;
  }

  .clients {
    padding-top: 6.25rem;
  }

  .clients {
    padding-bottom: 6.25rem;
  }

  .projects {
    padding-top: 9.375rem;
  }

  .projects {
    padding-bottom: 4.6875rem;
  }

  .projects__title {
    margin-bottom: 9.375rem;
  }

  .projects__items {
    gap: 1.875rem;
  }

  .advantages {
    padding-top: 4.6875rem;
  }

  .advantages {
    padding-bottom: 4.6875rem;
  }

  .advantages__items {
    -webkit-column-gap: 3.125rem;
       -moz-column-gap: 3.125rem;
            column-gap: 3.125rem;
  }

  .advantages__icon:not(:last-child) {
    margin-bottom: 2.5rem;
  }

  .advantages__title {
    font-size: 1.875rem;
  }

  .advantages__title:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .careers {
    padding-top: 4.6875rem;
  }

  .careers {
    padding-bottom: 9.375rem;
  }

  .careers__title {
    margin-bottom: 9.375rem;
  }

  .table__row:not(:last-child) .table__title,
  .table__row:not(:last-child) .table__cell {
    padding-bottom: 5rem;
  }
}

@media (max-width: 45em) {
  .table {
    overflow: auto;
  }
}

@media (max-width: 20em) {
  .title {
    font-size: 1.75rem;
  }

  .header__container {
    min-height: 5rem;
  }

  .menu:not(:last-child) {
    margin-right: 1.25rem;
  }

  .menu__list {
    -webkit-column-gap: 1.25rem;
       -moz-column-gap: 1.25rem;
            column-gap: 1.25rem;
  }

  .footer {
    padding-top: 1.875rem;
  }

  .footer {
    padding-bottom: 1.875rem;
  }

  .footer__text:not(:last-child) {
    margin-bottom: 1.875rem;
  }

  .social {
    gap: 0.9375rem;
  }

  .main-block {
    padding-top: 6.25rem;
  }

  .main-block {
    padding-bottom: 1.875rem;
  }

  .main-block__content {
    gap: 1.25rem;
  }

  .main-block__title {
    font-size: 2.125rem;
  }

  .services {
    padding-top: 1.875rem;
  }

  .services {
    padding-bottom: 1.875rem;
  }

  .services__title {
    margin-bottom: 1.875rem;
  }

  .services__items {
    gap: 1.25rem;
  }

  .item-services {
    gap: 0.625rem;
  }

  .clients {
    padding-top: 1.875rem;
  }

  .clients {
    padding-bottom: 1.875rem;
  }

  .projects {
    padding-top: 1.875rem;
  }

  .projects {
    padding-bottom: 1.875rem;
  }

  .projects__title {
    margin-bottom: 1.875rem;
  }

  .projects__items {
    gap: 1.25rem;
  }

  .advantages {
    padding-top: 1.875rem;
  }

  .advantages {
    padding-bottom: 1.875rem;
  }

  .advantages__items {
    -webkit-column-gap: 1.25rem;
       -moz-column-gap: 1.25rem;
            column-gap: 1.25rem;
  }

  .advantages__icon:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .advantages__title {
    font-size: 1.5rem;
  }

  .advantages__title:not(:last-child) {
    margin-bottom: 0.625rem;
  }

  .careers {
    padding-top: 1.875rem;
  }

  .careers {
    padding-bottom: 1.875rem;
  }

  .careers__title {
    margin-bottom: 1.875rem;
  }

  .table__row:not(:last-child) .table__title,
  .table__row:not(:last-child) .table__cell {
    padding-bottom: 0.9375rem;
  }
}

@media (max-width: 47.99875em) {
  .menu:not(:last-child) {
    margin-right: 0;
  }

  .menu__body {
    position: fixed;
    overflow: auto;
    width: 100%;
    height: 100%;
    left: -100%;
    top: 0;
    background-color: #EEEBFF;
    -webkit-transition: left 0.3s ease 0s;
    -o-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    padding: 0 0.9375rem 1.875rem;
  }

  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    left: -100%;
    -webkit-transition: left 0.3s ease 0s;
    -o-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    top: 0;
    background-color: #b4a8ee;
    transition: left 0.3s ease 0s;
  }

  ._header-scroll .menu__body::before {
    min-height: 5rem;
  }

  .menu-open .menu__body {
    left: 0;
  }

  .menu-open .menu__body::before {
    left: 0;
  }

  .menu__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 0.9375rem;
  }

  .menu__item {
    font-size: 2rem;
  }

  .icon-menu {
    display: block;
    position: relative;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 1.875rem;
            flex: 0 0 1.875rem;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5;
    margin-left: 0.9375rem;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #000;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .main-block__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1.875rem;
  }

  .main-block__button {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }

  .services__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }

  .services__items {
    padding-bottom: 1.875rem;
  }

  .clients__container {
    justify-items: center;
  }

  .clients__items {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-column-gap: 1.875rem;
       -moz-column-gap: 1.875rem;
            column-gap: 1.875rem;
  }

  .projects__image-ibg {
    padding: 0px 0px 100% 0px;
  }

  .card-projects {
    opacity: 1;
    visibility: visible;
  }
}

@media (max-width: 47.99875em) and (max-width: 20em) {
  .menu__body {
    padding-top: 7.5rem;
  }

  .menu__body::before {
    min-height: 5rem;
  }
}

@media (max-width: 47.99875em) and (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}

@media (max-width: 29.99875em) {
  .card-projects__body::before {
    right: 0.9375rem;
    top: 1.5625rem;
  }

  .card-projects__body {
    padding: 0.9375rem 3.125rem 0.9375rem 0.9375rem;
  }
}

@media (min-width: 20em) and (max-width: 75.625em) {
@supports (font-size: clamp( 1.75rem , 1.3005617978rem  +  2.2471910112vw , 3rem )) {
    .title {
      font-size: clamp( 1.75rem , 1.3005617978rem  +  2.2471910112vw , 3rem );
    }
}

@supports not (font-size: clamp( 1.75rem , 1.3005617978rem  +  2.2471910112vw , 3rem )) {
    .title {
      font-size: calc(1.75rem + 1.25 * (100vw - 20rem) / 55.625);
    }
}

@supports (min-height: clamp( 5rem , 1.4943820225rem  +  17.5280898876vw , 14.75rem )) {
    .header__container {
      min-height: clamp( 5rem , 1.4943820225rem  +  17.5280898876vw , 14.75rem );
    }
}

@supports not (min-height: clamp( 5rem , 1.4943820225rem  +  17.5280898876vw , 14.75rem )) {
    .header__container {
      min-height: calc(5rem + 9.75 * (100vw - 20rem) / 55.625);
    }
}

@supports (margin-right: clamp( 1.25rem , -0.0983146067rem  +  6.7415730337vw , 5rem )) {
    .menu:not(:last-child) {
      margin-right: clamp( 1.25rem , -0.0983146067rem  +  6.7415730337vw , 5rem );
    }
}

@supports not (margin-right: clamp( 1.25rem , -0.0983146067rem  +  6.7415730337vw , 5rem )) {
    .menu:not(:last-child) {
      margin-right: calc(1.25rem + 3.75 * (100vw - 20rem) / 55.625);
    }
}

@supports ((-moz-column-gap: clamp( 1.25rem , -0.0983146067rem  +  6.7415730337vw , 5rem )) or (column-gap: clamp( 1.25rem , -0.0983146067rem  +  6.7415730337vw , 5rem ))) {
    .menu__list {
      -webkit-column-gap: clamp( 1.25rem , -0.0983146067rem  +  6.7415730337vw , 5rem );
         -moz-column-gap: clamp( 1.25rem , -0.0983146067rem  +  6.7415730337vw , 5rem );
              column-gap: clamp( 1.25rem , -0.0983146067rem  +  6.7415730337vw , 5rem );
    }
}

@supports not ((-moz-column-gap: clamp( 1.25rem , -0.0983146067rem  +  6.7415730337vw , 5rem )) or (column-gap: clamp( 1.25rem , -0.0983146067rem  +  6.7415730337vw , 5rem ))) {
    .menu__list {
      -webkit-column-gap: calc(1.25rem + 3.75 * (100vw - 20rem) / 55.625);
         -moz-column-gap: calc(1.25rem + 3.75 * (100vw - 20rem) / 55.625);
              column-gap: calc(1.25rem + 3.75 * (100vw - 20rem) / 55.625);
    }
}

@supports (padding-top: clamp( 1.875rem , 0.077247191rem  +  8.9887640449vw , 6.875rem )) {
    .footer {
      padding-top: clamp( 1.875rem , 0.077247191rem  +  8.9887640449vw , 6.875rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , 0.077247191rem  +  8.9887640449vw , 6.875rem )) {
    .footer {
      padding-top: calc(1.875rem + 5 * (100vw - 20rem) / 55.625);
    }
}

@supports (padding-bottom: clamp( 1.875rem , 0.077247191rem  +  8.9887640449vw , 6.875rem )) {
    .footer {
      padding-bottom: clamp( 1.875rem , 0.077247191rem  +  8.9887640449vw , 6.875rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , 0.077247191rem  +  8.9887640449vw , 6.875rem )) {
    .footer {
      padding-bottom: calc(1.875rem + 5 * (100vw - 20rem) / 55.625);
    }
}

@supports (margin-bottom: clamp( 1.875rem , 0.3019662921rem  +  7.8651685393vw , 6.25rem )) {
    .footer__text:not(:last-child) {
      margin-bottom: clamp( 1.875rem , 0.3019662921rem  +  7.8651685393vw , 6.25rem );
    }
}

@supports not (margin-bottom: clamp( 1.875rem , 0.3019662921rem  +  7.8651685393vw , 6.25rem )) {
    .footer__text:not(:last-child) {
      margin-bottom: calc(1.875rem + 4.375 * (100vw - 20rem) / 55.625);
    }
}

@supports (gap: clamp( 0.9375rem , 0.1509831461rem  +  3.9325842697vw , 3.125rem )) {
    .social {
      gap: clamp( 0.9375rem , 0.1509831461rem  +  3.9325842697vw , 3.125rem );
    }
}

@supports not (gap: clamp( 0.9375rem , 0.1509831461rem  +  3.9325842697vw , 3.125rem )) {
    .social {
      gap: calc(0.9375rem + 2.1875 * (100vw - 20rem) / 55.625);
    }
}

@supports (padding-top: clamp( 6.25rem , 0.9241573034rem  +  26.6292134831vw , 21.0625rem )) {
    .main-block {
      padding-top: clamp( 6.25rem , 0.9241573034rem  +  26.6292134831vw , 21.0625rem );
    }
}

@supports not (padding-top: clamp( 6.25rem , 0.9241573034rem  +  26.6292134831vw , 21.0625rem )) {
    .main-block {
      padding-top: calc(6.25rem + 14.8125 * (100vw - 20rem) / 55.625);
    }
}

@supports (padding-bottom: clamp( 1.875rem , 0.3019662921rem  +  7.8651685393vw , 6.25rem )) {
    .main-block {
      padding-bottom: clamp( 1.875rem , 0.3019662921rem  +  7.8651685393vw , 6.25rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , 0.3019662921rem  +  7.8651685393vw , 6.25rem )) {
    .main-block {
      padding-bottom: calc(1.875rem + 4.375 * (100vw - 20rem) / 55.625);
    }
}

@supports (gap: clamp( 1.25rem , 0.8005617978rem  +  2.2471910112vw , 2.5rem )) {
    .main-block__content {
      gap: clamp( 1.25rem , 0.8005617978rem  +  2.2471910112vw , 2.5rem );
    }
}

@supports not (gap: clamp( 1.25rem , 0.8005617978rem  +  2.2471910112vw , 2.5rem )) {
    .main-block__content {
      gap: calc(1.25rem + 1.25 * (100vw - 20rem) / 55.625);
    }
}

@supports (font-size: clamp( 2.125rem , 1.2710674157rem  +  4.2696629213vw , 4.5rem )) {
    .main-block__title {
      font-size: clamp( 2.125rem , 1.2710674157rem  +  4.2696629213vw , 4.5rem );
    }
}

@supports not (font-size: clamp( 2.125rem , 1.2710674157rem  +  4.2696629213vw , 4.5rem )) {
    .main-block__title {
      font-size: calc(2.125rem + 2.375 * (100vw - 20rem) / 55.625);
    }
}

@supports (padding-top: clamp( 1.875rem , 0.3019662921rem  +  7.8651685393vw , 6.25rem )) {
    .services {
      padding-top: clamp( 1.875rem , 0.3019662921rem  +  7.8651685393vw , 6.25rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , 0.3019662921rem  +  7.8651685393vw , 6.25rem )) {
    .services {
      padding-top: calc(1.875rem + 4.375 * (100vw - 20rem) / 55.625);
    }
}

@supports (padding-bottom: clamp( 1.875rem , 0.3019662921rem  +  7.8651685393vw , 6.25rem )) {
    .services {
      padding-bottom: clamp( 1.875rem , 0.3019662921rem  +  7.8651685393vw , 6.25rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , 0.3019662921rem  +  7.8651685393vw , 6.25rem )) {
    .services {
      padding-bottom: calc(1.875rem + 4.375 * (100vw - 20rem) / 55.625);
    }
}

@supports (margin-bottom: clamp( 1.875rem , -0.8216292135rem  +  13.4831460674vw , 9.375rem )) {
    .services__title {
      margin-bottom: clamp( 1.875rem , -0.8216292135rem  +  13.4831460674vw , 9.375rem );
    }
}

@supports not (margin-bottom: clamp( 1.875rem , -0.8216292135rem  +  13.4831460674vw , 9.375rem )) {
    .services__title {
      margin-bottom: calc(1.875rem + 7.5 * (100vw - 20rem) / 55.625);
    }
}

@supports (gap: clamp( 1.25rem , 0.1713483146rem  +  5.393258427vw , 4.25rem )) {
    .services__items {
      gap: clamp( 1.25rem , 0.1713483146rem  +  5.393258427vw , 4.25rem );
    }
}

@supports not (gap: clamp( 1.25rem , 0.1713483146rem  +  5.393258427vw , 4.25rem )) {
    .services__items {
      gap: calc(1.25rem + 3 * (100vw - 20rem) / 55.625);
    }
}

@supports (gap: clamp( 0.625rem , 0.4002808989rem  +  1.1235955056vw , 1.25rem )) {
    .item-services {
      gap: clamp( 0.625rem , 0.4002808989rem  +  1.1235955056vw , 1.25rem );
    }
}

@supports not (gap: clamp( 0.625rem , 0.4002808989rem  +  1.1235955056vw , 1.25rem )) {
    .item-services {
      gap: calc(0.625rem + 0.625 * (100vw - 20rem) / 55.625);
    }
}

@supports (padding-top: clamp( 1.875rem , 0.3019662921rem  +  7.8651685393vw , 6.25rem )) {
    .clients {
      padding-top: clamp( 1.875rem , 0.3019662921rem  +  7.8651685393vw , 6.25rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , 0.3019662921rem  +  7.8651685393vw , 6.25rem )) {
    .clients {
      padding-top: calc(1.875rem + 4.375 * (100vw - 20rem) / 55.625);
    }
}

@supports (padding-bottom: clamp( 1.875rem , 0.3019662921rem  +  7.8651685393vw , 6.25rem )) {
    .clients {
      padding-bottom: clamp( 1.875rem , 0.3019662921rem  +  7.8651685393vw , 6.25rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , 0.3019662921rem  +  7.8651685393vw , 6.25rem )) {
    .clients {
      padding-bottom: calc(1.875rem + 4.375 * (100vw - 20rem) / 55.625);
    }
}

@supports (padding-top: clamp( 1.875rem , -0.8216292135rem  +  13.4831460674vw , 9.375rem )) {
    .projects {
      padding-top: clamp( 1.875rem , -0.8216292135rem  +  13.4831460674vw , 9.375rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , -0.8216292135rem  +  13.4831460674vw , 9.375rem )) {
    .projects {
      padding-top: calc(1.875rem + 7.5 * (100vw - 20rem) / 55.625);
    }
}

@supports (padding-bottom: clamp( 1.875rem , 0.8637640449rem  +  5.0561797753vw , 4.6875rem )) {
    .projects {
      padding-bottom: clamp( 1.875rem , 0.8637640449rem  +  5.0561797753vw , 4.6875rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , 0.8637640449rem  +  5.0561797753vw , 4.6875rem )) {
    .projects {
      padding-bottom: calc(1.875rem + 2.8125 * (100vw - 20rem) / 55.625);
    }
}

@supports (margin-bottom: clamp( 1.875rem , -0.8216292135rem  +  13.4831460674vw , 9.375rem )) {
    .projects__title {
      margin-bottom: clamp( 1.875rem , -0.8216292135rem  +  13.4831460674vw , 9.375rem );
    }
}

@supports not (margin-bottom: clamp( 1.875rem , -0.8216292135rem  +  13.4831460674vw , 9.375rem )) {
    .projects__title {
      margin-bottom: calc(1.875rem + 7.5 * (100vw - 20rem) / 55.625);
    }
}

@supports (gap: clamp( 1.25rem , 1.0252808989rem  +  1.1235955056vw , 1.875rem )) {
    .projects__items {
      gap: clamp( 1.25rem , 1.0252808989rem  +  1.1235955056vw , 1.875rem );
    }
}

@supports not (gap: clamp( 1.25rem , 1.0252808989rem  +  1.1235955056vw , 1.875rem )) {
    .projects__items {
      gap: calc(1.25rem + 0.625 * (100vw - 20rem) / 55.625);
    }
}

@supports (padding-top: clamp( 1.875rem , 0.8637640449rem  +  5.0561797753vw , 4.6875rem )) {
    .advantages {
      padding-top: clamp( 1.875rem , 0.8637640449rem  +  5.0561797753vw , 4.6875rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , 0.8637640449rem  +  5.0561797753vw , 4.6875rem )) {
    .advantages {
      padding-top: calc(1.875rem + 2.8125 * (100vw - 20rem) / 55.625);
    }
}

@supports (padding-bottom: clamp( 1.875rem , 0.8637640449rem  +  5.0561797753vw , 4.6875rem )) {
    .advantages {
      padding-bottom: clamp( 1.875rem , 0.8637640449rem  +  5.0561797753vw , 4.6875rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , 0.8637640449rem  +  5.0561797753vw , 4.6875rem )) {
    .advantages {
      padding-bottom: calc(1.875rem + 2.8125 * (100vw - 20rem) / 55.625);
    }
}

@supports ((-moz-column-gap: clamp( 1.25rem , 0.5758426966rem  +  3.3707865169vw , 3.125rem )) or (column-gap: clamp( 1.25rem , 0.5758426966rem  +  3.3707865169vw , 3.125rem ))) {
    .advantages__items {
      -webkit-column-gap: clamp( 1.25rem , 0.5758426966rem  +  3.3707865169vw , 3.125rem );
         -moz-column-gap: clamp( 1.25rem , 0.5758426966rem  +  3.3707865169vw , 3.125rem );
              column-gap: clamp( 1.25rem , 0.5758426966rem  +  3.3707865169vw , 3.125rem );
    }
}

@supports not ((-moz-column-gap: clamp( 1.25rem , 0.5758426966rem  +  3.3707865169vw , 3.125rem )) or (column-gap: clamp( 1.25rem , 0.5758426966rem  +  3.3707865169vw , 3.125rem ))) {
    .advantages__items {
      -webkit-column-gap: calc(1.25rem + 1.875 * (100vw - 20rem) / 55.625);
         -moz-column-gap: calc(1.25rem + 1.875 * (100vw - 20rem) / 55.625);
              column-gap: calc(1.25rem + 1.875 * (100vw - 20rem) / 55.625);
    }
}

@supports (margin-bottom: clamp( 1.25rem , 0.8005617978rem  +  2.2471910112vw , 2.5rem )) {
    .advantages__icon:not(:last-child) {
      margin-bottom: clamp( 1.25rem , 0.8005617978rem  +  2.2471910112vw , 2.5rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.8005617978rem  +  2.2471910112vw , 2.5rem )) {
    .advantages__icon:not(:last-child) {
      margin-bottom: calc(1.25rem + 1.25 * (100vw - 20rem) / 55.625);
    }
}

@supports (font-size: clamp( 1.5rem , 1.3651685393rem  +  0.6741573034vw , 1.875rem )) {
    .advantages__title {
      font-size: clamp( 1.5rem , 1.3651685393rem  +  0.6741573034vw , 1.875rem );
    }
}

@supports not (font-size: clamp( 1.5rem , 1.3651685393rem  +  0.6741573034vw , 1.875rem )) {
    .advantages__title {
      font-size: calc(1.5rem + 0.375 * (100vw - 20rem) / 55.625);
    }
}

@supports (margin-bottom: clamp( 0.625rem , 0.4002808989rem  +  1.1235955056vw , 1.25rem )) {
    .advantages__title:not(:last-child) {
      margin-bottom: clamp( 0.625rem , 0.4002808989rem  +  1.1235955056vw , 1.25rem );
    }
}

@supports not (margin-bottom: clamp( 0.625rem , 0.4002808989rem  +  1.1235955056vw , 1.25rem )) {
    .advantages__title:not(:last-child) {
      margin-bottom: calc(0.625rem + 0.625 * (100vw - 20rem) / 55.625);
    }
}

@supports (padding-top: clamp( 1.875rem , 0.8637640449rem  +  5.0561797753vw , 4.6875rem )) {
    .careers {
      padding-top: clamp( 1.875rem , 0.8637640449rem  +  5.0561797753vw , 4.6875rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , 0.8637640449rem  +  5.0561797753vw , 4.6875rem )) {
    .careers {
      padding-top: calc(1.875rem + 2.8125 * (100vw - 20rem) / 55.625);
    }
}

@supports (padding-bottom: clamp( 1.875rem , -0.8216292135rem  +  13.4831460674vw , 9.375rem )) {
    .careers {
      padding-bottom: clamp( 1.875rem , -0.8216292135rem  +  13.4831460674vw , 9.375rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , -0.8216292135rem  +  13.4831460674vw , 9.375rem )) {
    .careers {
      padding-bottom: calc(1.875rem + 7.5 * (100vw - 20rem) / 55.625);
    }
}

@supports (margin-bottom: clamp( 1.875rem , -0.8216292135rem  +  13.4831460674vw , 9.375rem )) {
    .careers__title {
      margin-bottom: clamp( 1.875rem , -0.8216292135rem  +  13.4831460674vw , 9.375rem );
    }
}

@supports not (margin-bottom: clamp( 1.875rem , -0.8216292135rem  +  13.4831460674vw , 9.375rem )) {
    .careers__title {
      margin-bottom: calc(1.875rem + 7.5 * (100vw - 20rem) / 55.625);
    }
}

@supports (padding-bottom: clamp( 0.9375rem , -0.5231741573rem  +  7.3033707865vw , 5rem )) {
    .table__row:not(:last-child) .table__title,
    .table__row:not(:last-child) .table__cell {
      padding-bottom: clamp( 0.9375rem , -0.5231741573rem  +  7.3033707865vw , 5rem );
    }
}

@supports not (padding-bottom: clamp( 0.9375rem , -0.5231741573rem  +  7.3033707865vw , 5rem )) {
    .table__row:not(:last-child) .table__title,
    .table__row:not(:last-child) .table__cell {
      padding-bottom: calc(0.9375rem + 4.0625 * (100vw - 20rem) / 55.625);
    }
}
}

@media (max-width: 47.99875em) and (min-width: 75.625em) {
  .menu__body {
    padding-top: 16rem;
  }

  .menu__body::before {
    min-height: 14.75rem;
  }
}

@media (max-width: 47.99875em) and (min-width: 20em) and (max-width: 75.625em) {
@supports (padding-top: clamp( 7.5rem , 4.4438202247rem  +  15.2808988764vw , 16rem )) {
    .menu__body {
      padding-top: clamp( 7.5rem , 4.4438202247rem  +  15.2808988764vw , 16rem );
    }
}

@supports not (padding-top: clamp( 7.5rem , 4.4438202247rem  +  15.2808988764vw , 16rem )) {
    .menu__body {
      padding-top: calc(7.5rem + 8.5 * (100vw - 20rem) / 55.625);
    }
}

@supports (min-height: clamp( 5rem , 1.4943820225rem  +  17.5280898876vw , 14.75rem )) {
    .menu__body::before {
      min-height: clamp( 5rem , 1.4943820225rem  +  17.5280898876vw , 14.75rem );
    }
}

@supports not (min-height: clamp( 5rem , 1.4943820225rem  +  17.5280898876vw , 14.75rem )) {
    .menu__body::before {
      min-height: calc(5rem + 9.75 * (100vw - 20rem) / 55.625);
    }
}
}

@media (min-width: 47.99875em) and (min-width: 20em) and (max-width: 75.625em) {
@supports (padding-right: clamp( 1.25rem , -0.0983146067rem  +  6.7415730337vw , 5rem )) {
    .main-block__content {
      padding-right: clamp( 1.25rem , -0.0983146067rem  +  6.7415730337vw , 5rem );
    }
}

@supports not (padding-right: clamp( 1.25rem , -0.0983146067rem  +  6.7415730337vw , 5rem )) {
    .main-block__content {
      padding-right: calc(1.25rem + 3.75 * (100vw - 20rem) / 55.625);
    }
}

@supports (padding-left: clamp( 1.25rem , 0.5758426966rem  +  3.3707865169vw , 3.125rem )) {
    .services__items {
      padding-left: clamp( 1.25rem , 0.5758426966rem  +  3.3707865169vw , 3.125rem );
    }
}

@supports not (padding-left: clamp( 1.25rem , 0.5758426966rem  +  3.3707865169vw , 3.125rem )) {
    .services__items {
      padding-left: calc(1.25rem + 1.875 * (100vw - 20rem) / 55.625);
    }
}
}

@media (min-width: 47.99875em) and (max-width: 20em) {
  .main-block__content {
    padding-right: 1.25rem;
  }

  .services__items {
    padding-left: 1.25rem;
  }
}

@media (any-hover: hover) {
  .button:hover {
    color: #FFFFFF;
    background-color: #3730A3;
  }

  .button--bg:hover {
    background-color: #FFFFFF;
    color: #3730A3;
  }

  .menu__link:hover {
    color: #1F2937;
  }

  .social__icon:hover {
    opacity: 0.8;
  }

  .item-services__link:hover {
    text-decoration: underline;
  }

  .projects__item:hover .projects__card {
    visibility: visible;
    opacity: 1;
  }
}