@charset "UTF-8";

@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: museosanscyrl;
  font-display: swap;
  src: url("../fonts/museosanscyrl-300.woff2") format("woff2"), url("../fonts/museosanscyrl-300.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: museosanscyrl;
  font-display: swap;
  src: url("../fonts/museosanscyrl-500.woff2") format("woff2"), url("../fonts/museosanscyrl-500.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: museosanscyrl;
  font-display: swap;
  src: url("../fonts/museosanscyrl-700.woff2") format("woff2"), url("../fonts/museosanscyrl-700.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: robotocondensed;
  font-display: swap;
  src: url("../fonts/robotocondensed-bold.woff2") format("woff2"), url("../fonts/robotocondensed-bold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: museosanscyrl;
  font-display: swap;
  src: url("../fonts/museosanscyrl-900.woff2") format("woff2"), url("../fonts/museosanscyrl-900.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "museosanscyrl";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "museosanscyrl";
  font-size: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 75rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg--contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: toRem(30);
		height: toRem(18);
		z-index: 5;
		@media (any-hover: none) {
			cursor: default;
		}
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: toRem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - toRem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - toRem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - toRem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/

.banner-block {
  padding-top: 88px;
}

.banner-block__bg {
  position: relative;
  min-height: calc(100vh - 88px);
}

.banner-block__bg video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.banner-block__bg::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  opacity: 0.6;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.banner-block__container {
  min-height: calc(100vh - 88px);
  position: relative;
  z-index: 3;
}

.banner-block__body {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  min-height: calc(100vh - 88px);
}

.banner-block__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner-block__left {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60%;
          flex: 0 0 60%;
}

.banner-block__made {
  font-size: 1.375rem;
  font-weight: 500;
  margin-bottom: 0.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.4375rem;
}

.banner-block__made::after{
  background: url("../images/page/flag-ukraine.png") center/contain no-repeat; }

.banner-block__made::after {
  content: "";
  display: block;
  width: 2.5rem;
  height: 1.375rem;
}

.banner-block__title {
  letter-spacing: 1px;
  font-size: 2.875rem;
  line-height: 1.0869565217;
  font-weight: 700;
  margin-bottom: 0.625rem;
}

.banner-block__info {
  font-weight: 700;
  margin-bottom: 3.125rem;
  font-size: 2.0625rem;
  color: #f78585;
  line-height: 1.1212121212;
}

.banner-block__right {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
}

.banner-block__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.875rem;
}

.banner-block__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 20rem;
}

.banner-block__item.l {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.banner-block__item.r {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.banner-block__desc {
  background-color: rgba(77, 112, 102, 0.6274509804);
  border-radius: 32px;
  padding: 0.625rem 1.25rem;
  color: #fff;
  font-size: 1.125rem;
  line-height: 1.2;
}

.banner-block__button {
  display: inline-block;
  padding: 0.625rem 2.5rem;
  line-height: 1.2;
  color: #4d7066;
  background-color: #fff;
  font-weight: 700;
  font-size: 1.5625rem;
  border-radius: 32px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.about-brand {
  background-color: #376a63;
}

.about-brand__container {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  color: #fff;
}

.about-brand__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about-brand__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  width: 50%;
}

.about-brand__info {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding-left: 1.25rem;
}

.about-brand__title {
  margin-bottom: 1.875rem;
  line-height: 1.2;
  font-weight: 500;
  font-size: 1.625rem;
}

.about-brand__text {
  line-height: 1.2;
  font-weight: 500;
  font-size: 1.25rem;
}

.about-brand__text p:not(:last-child) {
  margin-bottom: 0.625rem;
}

.advantages__title {
  text-align: center;
  color: #171717;
  font-size: 2.125rem;
  line-height: 1.25;
  font-weight: 600;
  margin-bottom: 5rem;
}

.advantages__columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.advantages__columns img {
  max-width: 100%;
}

.advantages__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
}

.advantages__column.padding {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30%;
          flex: 0 0 30%;
}

.advantages__column.padding.r {
  padding-right: 3.125rem;
}

.advantages__column.padding.l {
  padding-left: 3.125rem;
}

.advantages__item:not(:last-child) {
  margin-bottom: 2.8125rem;
}

.item-advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.25rem;
}

.item-advantages__info.right {
  text-align: right;
}

.item-advantages__title {
  font-weight: 600;
  color: #171717;
  line-height: 1.35;
  font-size: 1.5rem;
  margin-bottom: 0.625rem;
}

.item-advantages__text {
  font-size: 18px;
  line-height: 24px;
  color: #171717;
  font-size: 16px;
  font-weight: 300;
}

.item-advantages__icon {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 2.8125rem;
          flex: 0 0 2.8125rem;
  width: 2.8125rem;
  height: 2.8125rem;
}

.video-block {
  background-color: #efefef;
}

.video-block__title {
  text-align: center;
  color: #171717;
  font-size: 2.125rem;
  line-height: 1.25;
  font-weight: 600;
  margin-bottom: 5rem;
}

.video-block__video {
  position: relative;
  padding-bottom: 50%;
}

.video-block__video iframe {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  position: absolute;
  top: 0;
  left: 0;
}

@media (min-width: 75em) {
  .banner-block__body {
    padding-top: 4.375rem;
  }

  .banner-block__body {
    padding-bottom: 4.375rem;
  }

  .banner-block__left {
    padding-right: 2.5rem;
  }

  .advantages {
    padding-top: 5rem;
  }

  .advantages {
    padding-bottom: 5rem;
  }

  .video-block {
    padding-top: 5rem;
  }

  .video-block {
    padding-bottom: 5rem;
  }
}

@media (max-width: 20em) {
  .banner-block__body {
    padding-top: 2.5rem;
  }

  .banner-block__body {
    padding-bottom: 2.5rem;
  }

  .banner-block__left {
    padding-right: 1.25rem;
  }

  .advantages {
    padding-top: 2.5rem;
  }

  .advantages {
    padding-bottom: 2.5rem;
  }

  .video-block {
    padding-top: 2.5rem;
  }

  .video-block {
    padding-bottom: 2.5rem;
  }
}

@media (min-width: 20em) and (max-width: 75em) {
@supports (padding-top: clamp( 2.5rem , 1.8181818182rem  +  3.4090909091vw , 4.375rem )) {
    .banner-block__body {
      padding-top: clamp( 2.5rem , 1.8181818182rem  +  3.4090909091vw , 4.375rem );
    }
}

@supports not (padding-top: clamp( 2.5rem , 1.8181818182rem  +  3.4090909091vw , 4.375rem )) {
    .banner-block__body {
      padding-top: calc(2.5rem + 1.875 * (100vw - 20rem) / 55);
    }
}

@supports (padding-bottom: clamp( 2.5rem , 1.8181818182rem  +  3.4090909091vw , 4.375rem )) {
    .banner-block__body {
      padding-bottom: clamp( 2.5rem , 1.8181818182rem  +  3.4090909091vw , 4.375rem );
    }
}

@supports not (padding-bottom: clamp( 2.5rem , 1.8181818182rem  +  3.4090909091vw , 4.375rem )) {
    .banner-block__body {
      padding-bottom: calc(2.5rem + 1.875 * (100vw - 20rem) / 55);
    }
}

@supports (padding-right: clamp( 1.25rem , 0.7954545455rem  +  2.2727272727vw , 2.5rem )) {
    .banner-block__left {
      padding-right: clamp( 1.25rem , 0.7954545455rem  +  2.2727272727vw , 2.5rem );
    }
}

@supports not (padding-right: clamp( 1.25rem , 0.7954545455rem  +  2.2727272727vw , 2.5rem )) {
    .banner-block__left {
      padding-right: calc(1.25rem + 1.25 * (100vw - 20rem) / 55);
    }
}

@supports (padding-top: clamp( 2.5rem , 1.5909090909rem  +  4.5454545455vw , 5rem )) {
    .advantages {
      padding-top: clamp( 2.5rem , 1.5909090909rem  +  4.5454545455vw , 5rem );
    }
}

@supports not (padding-top: clamp( 2.5rem , 1.5909090909rem  +  4.5454545455vw , 5rem )) {
    .advantages {
      padding-top: calc(2.5rem + 2.5 * (100vw - 20rem) / 55);
    }
}

@supports (padding-bottom: clamp( 2.5rem , 1.5909090909rem  +  4.5454545455vw , 5rem )) {
    .advantages {
      padding-bottom: clamp( 2.5rem , 1.5909090909rem  +  4.5454545455vw , 5rem );
    }
}

@supports not (padding-bottom: clamp( 2.5rem , 1.5909090909rem  +  4.5454545455vw , 5rem )) {
    .advantages {
      padding-bottom: calc(2.5rem + 2.5 * (100vw - 20rem) / 55);
    }
}

@supports (padding-top: clamp( 2.5rem , 1.5909090909rem  +  4.5454545455vw , 5rem )) {
    .video-block {
      padding-top: clamp( 2.5rem , 1.5909090909rem  +  4.5454545455vw , 5rem );
    }
}

@supports not (padding-top: clamp( 2.5rem , 1.5909090909rem  +  4.5454545455vw , 5rem )) {
    .video-block {
      padding-top: calc(2.5rem + 2.5 * (100vw - 20rem) / 55);
    }
}

@supports (padding-bottom: clamp( 2.5rem , 1.5909090909rem  +  4.5454545455vw , 5rem )) {
    .video-block {
      padding-bottom: clamp( 2.5rem , 1.5909090909rem  +  4.5454545455vw , 5rem );
    }
}

@supports not (padding-bottom: clamp( 2.5rem , 1.5909090909rem  +  4.5454545455vw , 5rem )) {
    .video-block {
      padding-bottom: calc(2.5rem + 2.5 * (100vw - 20rem) / 55);
    }
}
}

@media (any-hover: hover) {
  .banner-block__button:hover {
    opacity: 0.7;
  }
}
