footer.navigation {
	font-family: 'Open Sans', sans-serif;
	background: #606975;
	padding: 30px 0 0 0;
	font-size: 16px;	
	color: #fff;
}
footer.navigation a {
    color: #FFFFFF;
    text-decoration: inherit;
	font-size: 12px;
    font-family: '__Museo Sans Cyrl_5';
    -webkit-transition-delay: 0.1s;
    font-weight: 400;
    background-color: transparent;
    line-height: 17px;
    transition-delay: 0.1s;
	position: relative;
}
footer.navigation a:hover {
	color: #CCCCCC;
    text-decoration: underline;
}
footer.navigation .items {
	display: block;
}
footer.navigation .items .item {
	width: 100%;
	display: block;
}
footer.navigation .items .item p{
	font-size: 13px;
	line-height: 20px;
}
footer.navigation .navigation__logo {
	width: 145px;
	height: 58px;
	background: url(../images/logo_footer.svg) no-repeat;
	margin-bottom: 20px;
}
footer.navigation .items .item .item-title{	
	text-transform: uppercase;
	color: #A5ABB2;
    text-align: left;
    font-family: '__Roboto Condensed_3';
    font-size: 18px;
    border-width: 0px;
    font-weight: 700;
    background-color: transparent;
    line-height: 25px;
	
}
footer.navigation .items .item ul {
	padding: 0;
	list-style: none;
	list-style-type: none;
	position: relative;
}

footer.navigation .items .item ul.phones li{
	margin-left: 28px;
}
footer.navigation .items .item ul.phones img {
	position: absolute;
	top: 20px;
	height: 20px;
}

footer.navigation .items .item ul li img {
	margin-right: 8px;
}
/*****/
footer.navigation .social-block {
	margin-top: 20px;
}
footer.navigation .social-block a {
	display: inline-block;
	position: relative;
	color: #cccccc;	
	text-decoration: none;	
	text-align: center;
	margin-right: 10px;
	height: 30px;
}
footer.navigation .social-block svg {
    height: 20px;
    width: auto;
}
footer.navigation .social-block svg * {
    transition: fill .3s;
}
footer.navigation  .social-block a:hover svg * {
    fill: #ed1c24;
}
footer.navigation  .social-block a.navigation__social-fb:hover svg *{
	fill: #166BDA;
}
footer.navigation  .social-block a.navigation__social-youtube:hover svg *{
	fill: #E60000;
}
footer.navigation  .social-block a.navigation__social-instagram:hover svg *{
	fill: #D8006A;
}
footer.navigation  .social-block a.navigation__social-twitter:hover svg *{
	fill: #009BD6;
}
/*****/
footer.copyright {
	text-align: left;
	width: 100%;
	font-size: 18px;
	line-height: 25px;
	text-transform: uppercase;
	background:#606975;
	padding: 15px 0;
}
footer.copyright p{
	text-transform: none;
	transition-timing-function: ease;
    border-color: #333333;
    -webkit-transition-duration: 0.1s;
    border-width: 0px;
    filter: alpha(opacity=53);
    -webkit-transition-timing-function: ease;
    transition-duration: 0.1s;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=53)";
    font-weight: 400;
    background-image: url(../images/blank.gif?crc=4208392903);
    font-size: 11px;
    font-family: '__Museo Sans Cyrl_5';
    opacity: 0.53;
    -webkit-transition-delay: 0.1s;
    color: #FFFFFF;
    background-color: transparent;
    line-height: 15px;
    transition-delay: 0.1s;
}

footer.navigation .items .item:nth-child(2),
footer.navigation .items .item:nth-child(3),
footer.navigation .items .item:nth-child(4) {
	margin-top: 30px;
}

@media (min-width: 411px) {
	footer.navigation .social-block a {
		margin-right: 30px;
	}
}
@media (min-width: 768px) {
	footer.navigation .items .item {
		width: 49.7%;
		display: inline-block;
		vertical-align: top;
		margin-bottom: 30px;
	}
}
@media (min-width: 1200px) {
	footer.navigation {
		padding: 60px 0;
	}
	footer.navigation .items .item {
		width: 24.7%;
		display: inline-block;
		margin-bottom: 0;
	}
	footer.navigation .items .item:nth-child(2),
	footer.navigation .items .item:nth-child(3),
	footer.navigation .items .item:nth-child(4) {
		margin-top: 0;
	}

	#u39881-10 {
		margin-bottom: 60px;
	}
}