*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
a {
	text-decoration: none;
	color: inherit;
}
li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
html,
body {
	height: 100%;
	line-height: 1;
}
textarea,
button,
input {
	font-weight: inherit;
	font-size: inherit;
	color: inherit;
	font-family: inherit;
}
button {
	cursor: pointer;
	background-color: inherit;
}
:active, :hover, :focus {
	outline: 0;
	outline-offset: 0;
}
a {
	cursor: pointer;
}

/*===========================================================================*/

.form {
	opacity: 0;
	visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  height: 100%;
  width: 100%;
  background: linear-gradient(70deg, #fdb85d, #ffe367);
}

.form form {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
  gap: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form form #name, .form form #phone, .form form #town, .form form #numb {
  width: 60%;
  background: transparent;
  border: none;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid #a85701;
  -webkit-transition: 600ms;
  transition: 600ms;
  color: #a85701;
}

.form form #name:focus, .form form #phone:focus, .form form #town:focus, .form form #numb:focus {
  width: 80%;
}

.form form #btn {
  position: relative;
  border: none;
  background: transparent;
  color: #a85701;
  padding: 5px 30px;
  border-radius: 5px;
  border: 2px solid #a85701;
  -webkit-transition: 600ms;
  transition: 600ms;
  cursor: pointer;
}

/*===========================================================================*/

.form {
}
body{
	display: flex;
	flex-direction: column;
}
.page{
	max-width: 320px;
	margin: 0 auto;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 22px;
	display: flex;
	flex-direction: column;
	position: relative;
}
.title {
	font-weight: 700;
	padding: 20px 15px;
	background-color: #fdb85d;
	justify-self: stretch;
	text-align: center;
	margin-bottom: 15px;
	font-style: italic;
}
.sale {
	position: absolute;
	top: 100px;
	left: 0;
	width: 100%;
	justify-self: stretch;
	text-align: center;
	display: flex;
	gap: 10px;
	justify-content: space-between;
	font-style: italic;
}
.sale__item{

}
.image-main{
	max-width: 320px;
	margin: 0 auto;
}
.image-main img {
	max-width: 100%;
}
.menu-icon {
	padding: 20px 30px;
	background-color: #ffe367;
	font-weight: 600;
	max-width: 320px;
	margin-top: -30px;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
}
.price {
	display: flex;
	justify-content: space-between;
	gap: 10px;
	padding: 30px 0;
	align-items: center;
	text-align: center;
}
.price__left {
}

.price__right {
	flex: 1 1 60%;
	font-size: 30px;
	font-weight: 600;
	font-style: italic;
	padding: 20px 10px;
	background-color: #fdb85d;
}

.left {
	flex: 1 1 40%;
	font-style: italic;
	align-self: center;
	text-align: center;
	position: relative;
	z-index: 2;
}
.left::before{
	content: '';
	display: inline-block;
	background: url("img/sale.png") center / cover no-repeat;
	width: 50px;
	height: 50px;
	position: absolute;
	z-index: -1;
	top: -10px;
	left: center;
	transform: translate(-50%,0);
}
.left__top {
	font-weight: 600;
	margin-bottom: 20px;
}

.left__bottom {
	font-size: 18px;
}

.block-images {
	display: grid;
	grid-template-columns: repeat(2,1fr);
	gap: 15px;
	margin-bottom: 60px;
}
.block-image {
	position: relative;
	padding-bottom: 100%;
}
.block-image img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.info {
	margin-top: 30px;
	padding: 20px 20px;
	display: grid;
	border: 10px solid #fdb85d;
	margin-bottom: 30px;

}
.info__title {
	font-style: italic;
	font-weight: 600;
	justify-self: center;
	margin-bottom: 20px;
	font-size: 18px;
}

.info__text {
	display: grid;
	gap: 14px;
	font-size: 14px;
}





.menu-open .form {
	opacity: 1;
	visibility: visible;
	transition: all 0.3s;
}
.menu-icon{
	position: relative;
	display: flex;
}
.menu-icon::before{
	content: '';
	position: absolute;
	top: -10px;
	left: -40%;
	width: 100px;
	height: 100px;
	object-fit: contain;
	background: url("img/arrow.png") center / cover no-repeat;
	transform: rotate(30deg);
}
.menu-icon::after{
	content: '';
	position: absolute;
	top: -10px;
	right: -40%;
	width: 100px;
	height: 100px;
	background: url("img/arrow.png") center / cover no-repeat;
	transform: scaleX(-1) rotate(30deg);
}